# Biblioteca Pandas

O Pandas é uma biblioteca do Python utilizada para análise e manipulação de dados. Nos permite trabalhar de forma rápida e eficiente com arquivos do tipo csv, excel, txt, etc.

## Lendo um arquivo csv

Iremos usar o arquivo da base de dados do Kaggle (kc_house_data.csv).

In [1]:
# Importando o pandas
import pandas as pd

In [2]:
# Método read_csv: Permite a leitura de uma base de dados no formato csv no pandas.
# Parâmetro sep: Define o separador entre os atributos da base de dados. O padrão é ','.
# Parâmetro header: Indica em qual linha estão os nomes das colunas. Se seu arquivo não tem cabeçalho (header) você
# precisa definir header = None, neste caso o pandas gerará números sequenciais e os usará como atributos.
arquivo = 'kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep = ',', header = 0)
dataset

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
# A variável 'dataset' é do tipo DataFrame, uma estrutura tabular de dados onde linhas podem ter colunas de 
# diferentes tipos. Cada coluna é um campo ou atributo da tabela e cada linha um registro. 
type(dataset)

pandas.core.frame.DataFrame

In [4]:
# Parâmetro index_col: Informa a coluna a ser usada como índice
dataset = pd.read_csv(arquivo, index_col = 'date')
dataset

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20140521T000000,263000018,360000.0,3.0,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
20150223T000000,6600060120,400000.0,4.0,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
20140623T000000,1523300141,402101.0,2.0,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
20150116T000000,291310100,400000.0,3.0,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
20141015T000000,1523300157,325000.0,2.0,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Neste caso, *date* não é mais uma coluna normal, ela é agora a coluna que está indexando o Dataframe, a organização do mesmo é baseada nesta coluna.

In [5]:
# Método head: Retorna as n primeiras filas do objeto. Por padrão n = 5
dataset.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# Imprime as 100 primeiras linhas do DataFrame
dataset.head(100)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20140908T000000,1483300570,905000.0,4.0,2.50,3300,10250,1.0,0,0,3,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
20150330T000000,3422049190,247500.0,3.0,1.75,1960,15681,1.0,0,0,3,7,1960,0,1967,0,98032,47.3576,-122.277,1750,15616
20140912T000000,1099611230,199000.0,4.0,1.50,1160,6400,1.0,0,0,4,7,1160,0,1975,0,98023,47.3036,-122.378,1160,6400
20140711T000000,722079104,314000.0,3.0,1.75,1810,41800,1.0,0,0,5,7,1210,600,1980,0,98038,47.4109,-121.958,1650,135036
20140516T000000,7338200240,437500.0,3.0,2.50,2320,36847,2.0,0,2,3,9,2320,0,1992,0,98045,47.4838,-121.714,2550,35065

In [7]:
# Método tail: Retorna as n últimas linhas. Por padrão n = 5
dataset.tail()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20140521T000000,263000018,360000.0,3.0,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
20150223T000000,6600060120,400000.0,4.0,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
20140623T000000,1523300141,402101.0,2.0,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
20150116T000000,291310100,400000.0,3.0,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
20141015T000000,1523300157,325000.0,2.0,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [8]:
# Imprime as 100 últimas linhas do DataFrame
dataset.tail(100)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20140513T000000,1023059465,505000.0,4.0,2.50,2790,5602,2.0,0,0,3,8,2790,0,2009,0,98059,47.4959,-122.150,2790,5309
20150227T000000,3262300818,1865000.0,4.0,3.75,3790,8797,2.0,0,0,3,11,3290,500,2006,0,98039,47.6351,-122.236,2660,12150
20141215T000000,2937300040,942990.0,4.0,2.50,3570,6218,2.0,0,0,3,9,3570,0,2014,0,98052,47.7046,-122.123,3230,5972
20141001T000000,2768100206,440000.0,3.0,2.25,1230,1097,3.0,0,0,3,8,1230,0,2009,0,98107,47.6697,-122.372,1420,1437
20140626T000000,7904700134,390000.0,3.0,3.25,1370,913,2.0,0,0,3,8,1100,270,2006,0,98116,47.5636,-122.388,1370,915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20140521T000000,263000018,360000.0,3.0,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
20150223T000000,6600060120,400000.0,4.0,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
20140623T000000,1523300141,402101.0,2.0,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
20150116T000000,291310100,400000.0,3.0,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
20141015T000000,1523300157,325000.0,2.0,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [9]:
# Método columns: Retorna o nomes das colunas que contém o DataFrame
dataset.columns

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
# Método count: Retorna a quantidade de linhas de cada coluna
dataset.count()

id               21613
price            21613
bedrooms         21609
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21612
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [11]:
# Método describe: Exibe estatísticas descritivas da base de dados (número de registros, média, desvío padrão, 
# valor mínimo, quartis e valor máximo; por coluna)
dataset.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21609.000000,21613.000000,21613.000000,2.161300e+04,21612.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370910,2.114757,2079.899736,1.510697e+04,1.494332,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930084,0.770163,918.440897,4.142051e+04,0.539991,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [12]:
# Método sample: Retorna uma amostra aleatória do DataFrame. O padrão é 1
dataset.sample(3)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20140508T000000,128500260,262000.0,4.0,2.50,2020,6236,2.0,0,0,3,7,2020,0,2002,0,98001,47.2796,-122.247,1940,5076
20140808T000000,5536100005,2300000.0,7.0,4.75,5310,8816,2.0,0,0,3,10,3650,1660,2013,0,98004,47.6221,-122.208,2920,10610
20141202T000000,8029500360,330000.0,3.0,2.50,2370,9102,2.0,0,0,3,9,2370,0,1990,0,98023,47.3067,-122.394,2530,9883

In [13]:
# Método shape: Retorna em formato de tupla a quantidade de linhas e colunas do DataFrame
dataset.shape

(21613, 20)

In [14]:
# Método info: Imprime informações sobre o Dataframe (nome de cada coluna, número de linhas por coluna, o tipo de 
# dado de cada uma dessas colunas e a quantidade de memória utilizada para ler o arquivo).

# Por padrão ele tenta identificar o tipo de dado como int, float, datetime, ou object caso ele não consiga 
# identificar o tipo exato. Coluna de tipo string fica no formato object no pandas.

dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 20141013T000000 to 20141015T000000
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   price          21613 non-null  float64
 2   bedrooms       21609 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21612 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14)
memory usage: 3.5+ MB

In [15]:
# Imprime colunas específicas
dataset[['id', 'bedrooms']]

                         id  bedrooms
date
20141013T000000  7129300520       3.0
20141209T000000  6414100192       3.0
20150225T000000  5631500400       2.0
20141209T000000  2487200875       4.0
20150218T000000  1954400510       3.0
...                     ...       ...
20140521T000000   263000018       3.0
20150223T000000  6600060120       4.0
20140623T000000  1523300141       2.0
20150116T000000   291310100       3.0
20141015T000000  1523300157       2.0

[21613 rows x 2 columns]

In [16]:
# Imprime uma coluna
dataset.bedrooms

# ou
dataset['bedrooms']

date
20141013T000000    3.0
20141209T000000    3.0
20150225T000000    2.0
20141209T000000    4.0
20150218T000000    3.0
                  ...
20140521T000000    3.0
20150223T000000    4.0
20140623T000000    2.0
20150116T000000    3.0
20141015T000000    2.0
Name: bedrooms, Length: 21613, dtype: float64

In [17]:
# Objeto do tipo Series, uma matriz unidimensional que contém uma sequencia de valores acompanhado de seus 
# respectivos índices
type(dataset.bedrooms)

pandas.core.series.Series

## **Criando um DataFrame a partir de um Dicionário**

In [18]:
# Criando o Dataframe
dataset1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4.0, 5.1, 6]})
dataset1.head()

   a    b
0  1  4.0
1  2  5.1
2  3  6.0

In [19]:
# Parâmetro index: Índice a ser usado para o frame resultante. Por padrão é uma sequência de números 
# (0, 1, 2,..., n)
dataset2 = pd.DataFrame({'a': [7, 8 , 9, 10], 'b': [11, 12, 13, 14], 'c': [15, 16, 17, 18]}, 
                        index = ['Jan', 'Feb', 'Mar', 'Abr'])
dataset2

      a   b   c
Jan   7  11  15
Feb   8  12  16
Mar   9  13  17
Abr  10  14  18

## **Anexando dois DataFrames**

Quando anexamos DataFrames com número de colunas diferentes, os valores não existentes são preenchidos com NaN.

In [20]:
# Função append: Anexa linhas de um DataFrame ao final de outro
dataset1.append(dataset2)

      a     b     c
0     1   4.0   NaN
1     2   5.1   NaN
2     3   6.0   NaN
Jan   7  11.0  15.0
Feb   8  12.0  16.0
Mar   9  13.0  17.0
Abr  10  14.0  18.0

Note que os índices do segundo DataFrame são mantidos.

In [21]:
# Anexando dataset2 ao final de dataset1 mantendo valores contínuos no 'index'
dataset1.append(dataset2, ignore_index = True)

    a     b     c
0   1   4.0   NaN
1   2   5.1   NaN
2   3   6.0   NaN
3   7  11.0  15.0
4   8  12.0  16.0
5   9  13.0  17.0
6  10  14.0  18.0

## **Adicionando uma Linha a um DataFrame**

In [22]:
# Anexando uma linha a um DataFrame. Ignore_index precisa ser igual a True
nova_linha = {'a':7, 'b':77, 'c': 777}
dataset1 = dataset1.append(nova_linha, ignore_index = True)
dataset1

   a     b      c
0  1   4.0    NaN
1  2   5.1    NaN
2  3   6.0    NaN
3  7  77.0  777.0

## **Adicionando uma Coluna a um DataFrame**

In [23]:
# Adicionando uma coluna a um DataFrame
dataset2['Ano'] = [1987, 1990, 2010, 1843]
dataset2

      a   b   c   Ano
Jan   7  11  15  1987
Feb   8  12  16  1990
Mar   9  13  17  2010
Abr  10  14  18  1843

## **Criando Series**

In [24]:
# Criando uma série a partir de uma lista
lista = ['Chespirito', 'Vallejo' , 'Sagan']
serie = pd.Series(lista)
serie

0    Chespirito
1       Vallejo
2         Sagan
dtype: object

In [25]:
# Criando uma série a partir de um ndarray
import numpy as np
ndarray = np.array(['x', 'y', 'z'])
serie = pd.Series(ndarray)
serie

0    x
1    y
2    z
dtype: object

In [26]:
# Criando uma série a partir de um dicionário. As chaves do dicionário são utilizadas como índices
dic = {'index_1': 'linha_1', 'index_2': 'linha_2', 'index_3': 'linha_3'}
serie = pd.Series(dic)
serie

index_1    linha_1
index_2    linha_2
index_3    linha_3
dtype: object

Você pode acessar os dados da série como faria com uma lista ou ndarray.

In [27]:
# Acessando o último registro da série
serie[-1]

'linha_3'

In [28]:
# Fatiando uma série
serie[:3]

index_1    linha_1
index_2    linha_2
index_3    linha_3
dtype: object

In [29]:
serie[1:3]

index_2    linha_2
index_3    linha_3
dtype: object

## Pandas Profiling

O módulo pandas_profiling inclui o método ProfileReport que gera um relatório interativo em formato web (html) a partir de um Dataframe, com informações estatísticas e as principais características do mesmo, utilizando apenas algumas linhas de código. Este relatório poderia ser exportado pro disco no formato pdf para tê-lo como consulta durante o trabalho.

Um dos pontos fortes do relatório gerado são os warnings, onde indica as variáveis que contêm valores NaN, variáveis com muitos zeros, variáveis categóricas com alta cardinalidade, etc... Outro ponto interessante são as correlações entre atributos (correlação de Pearson, correlação de Spearman, etc.).

O Pandas Profiling é uma extensão ao Pandas. Por ser um recurso externo ele não vem instalado no Anaconda.

Instalação do Pandas Profiling ('!' indica para o Jupyter Notebook que estamos invocando um comando do sistema operacional):

In [30]:
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Using cached https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
Requirement already satisfied (use --upgrade to upgrade): pandas-profiling==2.10.0 from https://github.com/pandas-profiling/pandas-profiling/archive/master.zip in /home/jessi/anaconda3/lib/python3.8/site-packages
Requirement already satisfied: joblib in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.16.0)
Requirement already satisfied: scipy>=1.4.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (1.5.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (1.0.5)
Requirement already satisfied: matplotlib>=3.2.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (3.2.2)
Requirement already satisfied: confuse>=1.0.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (1.3.0)
Requirement already satisfied: jinja2>=2.11.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (2.11.2)
Requirement already satisfied: visions[type_image_path]==0.6.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: numpy>=1.16.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (1.18.5)
Requirement already satisfied: attrs>=19.3.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (19.3.0)
Requirement already satisfied: htmlmin>=0.1.12 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.4.2)
Requirement already satisfied: phik>=0.9.10 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.10.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.0.6)
Requirement already satisfied: requests>=2.23.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (2.24.0)
Requirement already satisfied: tqdm>=4.43.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (4.47.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (7.5.1)
Requirement already satisfied: seaborn>=0.10.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas-profiling==2.10.0) (0.10.1)
Requirement already satisfied: pytz>=2017.2 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /home/jessi/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (2.4.7)
Requirement already satisfied: pyyaml in /home/jessi/anaconda3/lib/python3.8/site-packages (from confuse>=1.0.0->pandas-profiling==2.10.0) (5.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jessi/anaconda3/lib/python3.8/site-packages (from jinja2>=2.11.1->pandas-profiling==2.10.0) (1.1.1)
Requirement already satisfied: networkx>=2.4 in /home/jessi/anaconda3/lib/python3.8/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (2.4)
Requirement already satisfied: imagehash; extra == "type_image_path" in /home/jessi/anaconda3/lib/python3.8/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in /home/jessi/anaconda3/lib/python3.8/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (7.2.0)
Requirement already satisfied: numba>=0.38.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from phik>=0.9.10->pandas-profiling==2.10.0) (0.50.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jessi/anaconda3/lib/python3.8/site-packages (from requests>=2.23.0->pandas-profiling==2.10.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jessi/anaconda3/lib/python3.8/site-packages (from requests>=2.23.0->pandas-profiling==2.10.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jessi/anaconda3/lib/python3.8/site-packages (from requests>=2.23.0->pandas-profiling==2.10.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from requests>=2.23.0->pandas-profiling==2.10.0) (1.25.9)
Requirement already satisfied: ipykernel>=4.5.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.3.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (7.16.1)
Requirement already satisfied: traitlets>=4.3.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.3.3)
Requirement already satisfied: nbformat>=4.2.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.0.7)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.5.1)
Requirement already satisfied: six>=1.5 in /home/jessi/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from networkx>=2.4->visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (4.4.2)
Requirement already satisfied: PyWavelets in /home/jessi/anaconda3/lib/python3.8/site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (1.1.1)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling==2.10.0) (0.33.0+1.g022ab0f)
Requirement already satisfied: setuptools in /home/jessi/anaconda3/lib/python3.8/site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling==2.10.0) (49.2.0.post20200714)
Requirement already satisfied: tornado>=4.2 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (6.0.4)
Requirement already satisfied: jupyter-client in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (6.1.6)
Requirement already satisfied: pygments in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (2.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.0.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.8.0)
Requirement already satisfied: pickleshare in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.17.1)
Requirement already satisfied: backcall in /home/jessi/anaconda3/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.2.0)
Requirement already satisfied: ipython-genutils in /home/jessi/anaconda3/lib/python3.8/site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.2.0)

Requirement already satisfied: jupyter-core in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.6.3)
Requirement already satisfied: notebook>=4.4.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (6.0.3)
Requirement already satisfied: pyzmq>=13 in /home/jessi/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (19.0.1)
Requirement already satisfied: wcwidth in /home/jessi/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /home/jessi/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.7.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/jessi/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.16.0)
Requirement already satisfied: Send2Trash in /home/jessi/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (1.5.0)
Requirement already satisfied: prometheus-client in /home/jessi/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.8.0)
Requirement already satisfied: terminado>=0.8.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.8.3)
Requirement already satisfied: nbconvert in /home/jessi/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.6.1)
Requirement already satisfied: entrypoints>=0.2.2 in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.3)
Requirement already satisfied: bleach in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.1.5)
Requirement already satisfied: testpath in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.8.4)
Requirement already satisfied: defusedxml in /home/jessi/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: packaging in /home/jessi/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (20.4)
Requirement already satisfied: webencodings in /home/jessi/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.5.1)
Building wheels for collected packages: pandas-profiling
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.10.0-py2.py3-none-any.whl size=232423 sha256=3c4f64b843c9c9a9954c62a4064350b24c958fa476e43f2d662220b7860cf0fa
  Stored in directory: /tmp/pip-ephem-wheel-cache-4mp55lg2/wheels/64/b6/85/dfc808b23666a5910371784e349d28818006ff63ed9cfeca59
Successfully built pandas-profiling

Devido ao consumo de memória deixarei os comandos desta seção comentados.

In [31]:
#import pandas_profiling

In [32]:
# Lendo o arquivo de dados e criando o Dataframe chamado df
#df = pd.read_csv(arquivo)
#df.head()

In [33]:
# Usando o pandas_profiling no Jupyter Notebook
#pandas_profiling.ProfileReport(df, title = 'Pandas Profile Report', explorative = False)

Para gerar um arquivo html, salvamos o relatório em um objeto e usamos a função `to_file`.

In [34]:
# Gerando um relatório html
#profile = pandas_profiling.ProfileReport(df)
#profile.to_file(output_file = 'report.html')

## **Trabalhando com Grandes Arquivos**

Quando trabalhamos com arquivos grandes temos o desafio de não consumir toda a memória do servidor. O Pandas não é utilizado para substituir a infraestrutura de bigdata (Hadoop, Spark ou qualquer outra ferramenta em bigdata), ele tem limite de desempenho e tamanho de base de dados. Mas, existem alguns recursos que podem ser usados para trabalhar com base de dados maiores e que resolve o problema sem ter que recurrir ao uso de mais processadores ou memória. Nesta seção veremos algumas formas de gerenciar a memória em bases de dados grandes.

In [35]:
# Leitura do arquivo completo e impressão do uso de memória
dataset = pd.read_csv(arquivo)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21609 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21612 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

1. **Não colocar todo o arquivo em memória**: Ler o arquivo de forma limitada.

*   **Leitura de algumas primeiras linhas no momento de carregar o arquivo para a memória**

In [36]:
# Parâmetro nrows: Número de linhas do arquivo para ler. Sem este parâmetro opcional o pandas lê todo o arquivo e 
# coloca todo seu conteúdo em memória
df = pd.read_csv(arquivo, nrows = 100)
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
95,1483300570,20140908T000000,905000.0,4.0,2.50,3300,10250,1.0,0,0,...,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
96,3422049190,20150330T000000,247500.0,3.0,1.75,1960,15681,1.0,0,0,...,7,1960,0,1967,0,98032,47.3576,-122.277,1750,15616
97,1099611230,20140912T000000,199000.0,4.0,1.50,1160,6400,1.0,0,0,...,7,1160,0,1975,0,98023,47.3036,-122.378,1160,6400
98,722079104,20140711T000000,314000.0,3.0,1.75,1810,41800,1.0,0,0,...,7,1210,600,1980,0,98038,47.4109,-121.958,1650,135036
99,7338200240,20140516T000000,437500.0,3.0,2.50,2320,36847,2.0,0,2,...,9,2320,0,1992,0,98045,47.4838,-121.714,2550,35065

Compare o uso de memória entre ler o arquivo completo e ler ele limitando as linhas (o método *info* mostra o tamanho do Dataframe).

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             100 non-null    int64
 1   date           100 non-null    object
 2   price          100 non-null    float64
 3   bedrooms       96 non-null     float64
 4   bathrooms      100 non-null    float64
 5   sqft_living    100 non-null    int64
 6   sqft_lot       100 non-null    int64
 7   floors         99 non-null     float64
 8   waterfront     100 non-null    int64
 9   view           100 non-null    int64
 10  condition      100 non-null    int64
 11  grade          100 non-null    int64
 12  sqft_above     100 non-null    int64
 13  sqft_basement  100 non-null    int64
 14  yr_built       100 non-null    int64
 15  yr_renovated   100 non-null    int64
 16  zipcode        100 non-null    int64
 17  lat            100 non-null    float64
 18  long           100 non-null    float64
 19  sqft_living15  100 non-null    int64
 20  sqft_lot15     100 non-null    int64
dtypes: float64(6), int64(14), object(1)
memory usage: 16.5+ KB

*   **Leitura do arquivo usando blocos de linhas de cada vez**

In [38]:
# Parâmetro chunksize: Define quantas linhas irá conter cada bloco de memória
chunk = pd.read_csv(arquivo, chunksize = 5000)

In [39]:
# A variável 'chunk' é um objeto tipo arquivo do pandas
type(chunk)

pandas.io.parsers.TextFileReader

In [40]:
# Imprimindo tamanho de cada bloco em que foi dividido o arquivo
for parte in chunk:
  print(len(parte))

5000
5000
5000
5000
1613

Processamento dos blocos:

In [41]:
# Criando uma nova coluna no 'dataset' (floor_size)

chunk = pd.read_csv(arquivo, nrows = 7, chunksize = 5000)
# Iteramos sobre cada bloco e salvamos o resultado numa mesma lista 
lista = []
for parte in chunk:
    # Multiplicando o valor de cada linha da coluna 'floors' por 3
    lista.append(parte['floors']*3)
# Método concat: Concatena uma lista a um Dataframe existente    
dataset['floors_size'] = pd.concat(lista)

# Outra forma:

chunk = pd.read_csv(arquivo, chunksize = 5000)
dataset['floors_size'] = pd.concat(chunk, ignore_index = True)['floors']*3

In [42]:
dataset

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,floors_size
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,3.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,6.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,3.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,3.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,9.0
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,6.0
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,6.0
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,6.0
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,6.0

*   **Trabalhe apenas com as colunas que precisar**: Uma forma de fazer isso é primeiro usar `nrows` para ler as 5 primeiras linhas e depois exportar os nomes das colunas como segue, para usar o parâmetro usecols.

In [43]:
# Exportar os nomes das colunas

# Método tolist: Tranforma uma sequencia de dados a lista
df.columns.tolist()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [44]:
# Definindo as colunas que serão usadas no momento de ler a base de dados.

# Parâmetro usecols: Carrega colunas específicas no Dataframe.
df = pd.read_csv(arquivo, usecols = ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot'])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080

In [45]:
# Definindo a lista de colunas por posições
df = pd.read_csv(arquivo, usecols = [0, 1, 2, 3, 4, 5])
df.head()

           id             date     price  bedrooms  bathrooms  sqft_living
0  7129300520  20141013T000000  221900.0       3.0       1.00         1180
1  6414100192  20141209T000000  538000.0       3.0       2.25         2570
2  5631500400  20150225T000000  180000.0       2.0       1.00          770
3  2487200875  20141209T000000  604000.0       4.0       3.00         1960
4  1954400510  20150218T000000  510000.0       3.0       2.00         1680

In [46]:
# Lendo todas as colunas exceto algumas usando a função lambda
df = pd.read_csv(arquivo, usecols = lambda column : column not in ['sqft_living', 'floors'])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_lot,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,5650,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,7242,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,10000,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,5000,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,8080,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21609 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_lot       21613 non-null  int64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
 18  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(13), object(1)
memory usage: 3.1+ MB

2. **Visualize qual o separador das colunas**: Se estiver no linux use o comando `head` para ler as 5 primeiras linhas do arquivo:

`head -n 5 dataset.csv`

Se estiver no Windows abra o prompt do PowerShell e use o comando:

`go arquivo.txt -head 5`

In [48]:
!head -n 5 kc_house_data.csv

id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
"7129300520","20141013T000000",221900,3,1,1180,5650,"1",0,0,3,7,1180,0,1955,0,"98178",47.5112,-122.257,1340,5650
"6414100192","20141209T000000",538000,3,2.25,2570,7242,"2",0,0,3,7,2170,400,1951,1991,"98125",47.721,-122.319,1690,7639
"5631500400","20150225T000000",180000,2,1,770,10000,"1",0,0,3,6,770,0,1933,0,"98028",47.7379,-122.233,2720,8062
"2487200875","20141209T000000",604000,4,3,1960,5000,"1",0,0,5,7,1050,910,1965,0,"98136",47.5208,-122.393,1360,5000

Desta forma, já sabemos qual é o separador que temos que definir no momento de ler a base de dados.

3. **Trabalhe com os tipos de dados adequados nas colunas**: Colunas tipo **object** consumem muita mais memória do que colunas do tipo numérico ou colunas do tipo date. Algumas colunas podem ser do tipo **categórica**. Uma variável categórica assume um número limitado de valores possíveis (por exemplo: masculino/femenino, sim/não, 1/0, True/False, classe social, tipo sanguíneo, etc.). Alterar o tipo de dado que o pandas coloca por padrão para categórica reduz drásticamente o uso de memória.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.info()

In [ ]:
df.tail()

Convertendo os tipos de dados das colunas:

In [ ]:
# Alterando alguns tipos de dados 'object' a 'category' e de 'int64' a 'int32' em casos onde o valor numérico não 
# excede a quantidade de caracteres de 32 bits, para ganhar memória
df.PassengerId = df.PassengerId.astype('int32')
df.Survived = df.Survived.astype('category')
df.Pclass = df.Pclass.astype('category')
df.Sex = df.Sex.astype('category')
df.SibSp = df.SibSp.astype('int32')
df.Parch = df.Parch.astype('int32') 
df.Embarked = df.Embarked.astype('category')

Veja o uso de memória:

In [ ]:
df.info()

35% de ganho de memória. Como nossa base de dados é pequena, não tem muito impacto. Mas, em bases de dados de 2 ou 3 GB isso faz muita diferença. Então, é uma boa prática sempre trabalhar com os tipos de dados corretos.

A conversão anterior foi feita depois de ler a base de dados. Se você não está conseguindo ler a base de dados porque o tamanho é grande, você pode fazer a conversão dos tipos de dados das colunas no momento de leitura para ganhar espaço.

In [ ]:
# Convertendo tipos de dados das colunas no momento de leitura

# Parâmetro dtype: É um dicionário que informa quais são os tipos de dados das colunas
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv', 
                 dtype = {'PassengerId': 'int32', 'Survived': 'category', 'Pclass': 'category', 'Sex': 'category',
                          'SibSp': 'int32', 'Parch': 'int32', 'Embarked': 'category'})
df.info()

## **Consultando um DataFrame**

In [ ]:
# Criando o Dataframe
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Método value_counts: Conta a quantidade de valores únicos numa coluna
pd.value_counts(dataset['bedrooms'])

# Isso é interesante para identificar outliers (descritos mais na frente)

In [ ]:
# Método loc: Acessa um conjunto de linhas e colunas por etiquetas ou declarações condicionais

# Consulta imóveis com 4 quartos
dataset.loc[dataset['bedrooms'] == 4]

In [ ]:
# O anterior pode ser feito também como segue. Porém o mais indicado é usar o método 'loc' considerando uma base de
# dados mais robusta, já que o tempo de processamento passa a ser muito importante
dataset[dataset['bedrooms'] == 4]

In [ ]:
# Consulta imóveis com 4 quartos e com número de banheiros maior do que 2
dataset.loc[(dataset['bedrooms'] == 4) & (dataset['bathrooms'] > 2)]

In [ ]:
# Consultando uma linha pelo seu índice
dataset.loc[[7]]

In [ ]:
# Consultando linhas com um array de índices
dataset.loc[[0, 3, 5]]

In [ ]:
# Consultando uma fatia de linhas. Note que neste método as posições inicial e final estarão presentes no resultado
dataset.loc[1:4]

In [ ]:
# Setando um index para localizar determinada(s) linha(s)
dataset2 = dataset.set_index('date')
dataset2.head()

In [ ]:
dataset2.loc['20141209T000000']

In [ ]:
# Consultando linhas e colunas usando dois arrays
dataset2.loc[['20141013T000000', '20150225T000000', '20150218T000000'], ['id', 'price']]

In [ ]:
# Método sort_values: Ordena um DataFrame em ordem ascendente (padrão) ou descendente da coluna passada como 
# parâmetro. O DataFrame não será atualizado a não ser que a query seja igualado à variável 'dataset' ou se use o 
# parâmetro inplace = True

# Ordena o 'dataset' pela coluna 'price' em ordem decrescente
dataset.sort_values(by = 'price', ascending = False)

In [ ]:
# O DataFrame não foi atualizado
dataset.head()

In [ ]:
# Ordenando e atualizando o DataFrame
dataset.sort_values(by = 'price', ascending = False, inplace = True)
dataset

In [ ]:
# Contando número de linhas por coluna baseado numa condição
dataset[dataset['bedrooms'] == 2].count()

## **Alterando um DataFrame**

In [ ]:
# Criando o Dataframe
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Adicionando uma coluna ('size') ao DataFrame baseado em outra coluna
dataset['size'] = (dataset['bedrooms']*20)
dataset.head()

In [ ]:
# Visualizando o conteúdo da coluna criada
dataset['size'].head()

In [ ]:
# Criando uma função para aplicar a cada linha de uma determinada coluna do Dataframe
def categoriza(s):
  if s >= 80:
    return 'Big'
  elif s >= 60:
    return 'Medium'
  elif s >= 40:
    return 'Small'

In [ ]:
# Adicionando uma coluna categórica ('cat_size') a partir de uma função (categoriza), usando o método apply

# A função categoriza é aplicada a cada linha da coluna 'size' e o resultado é armazenado na coluna 'cat_size'
dataset['cat_size'] = dataset['size'].apply(categoriza)

In [ ]:
# Visualizando a nova coluna criada
dataset['cat_size'].head()

In [ ]:
# Apagando a coluna 'cat_size'

# Método drop: Exclui linhas ou colunas do Dataframe
# Parâmetro axis: Se for igual a 1 ou 'columns' apaga colunas, se for igual a 0 ou 'index' (padrão) apaga linhas
# Parâmetro inplace: Se for igual a True, a alteração irá modificar o objeto em memória. Por padrão inplace = False
dataset.drop(['cat_size'], axis = 1, inplace = True)
dataset.head()

In [ ]:
# Apagando colunas 'sqft_living' e 'sqft_lot'
dataset.drop(['sqft_living', 'sqft_lot'], axis = 'columns', inplace = True)
dataset.head()

In [ ]:
# Apagando linhas baseado em condições lógicas

# Apaga linhas com 'bedrooms' maior igual que 3. O atributo 'index' retorna o índice da linha 
dataset.drop(dataset[dataset.bedrooms >= 3].index, inplace = True)

# ou
#dataset.drop(dataset[dataset['bedrooms'] >= 3].index)

In [ ]:
dataset

## **Percorrendo Linhas de um DataFrame**

### **Método iterrows**

O método *iterrows* itera sobre as linhas do DataFrame como pares (index, Series). Esse método retorna um objeto *generator* sobre tuplas.

**Nota**: Um *generator* gera uma sequência, um item de cada vez. Podemos, por exemplo, iterar sobre o resultado de um *generator*.

In [ ]:
# Criando o Dataframe
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Objeto tipo generator
type(dataset.iterrows())

In [ ]:
# Método next: Permite percorrer pelos valores de um generator
next(dataset.iterrows())

In [ ]:
# Percorrendo o DataFrame e imprimindo o índice e registro de cada linha
for indice, linha in dataset.head(10).iterrows():
  print(indice, linha)

In [ ]:
# Percorrendo o DataFrame e imprimindo o índice de cada linha e os registros de determinadas colunas
for indice, linha in dataset.head(n = 10).iterrows():
  print(indice, linha['bedrooms'], linha['floors'], linha['price'])

# ou

#for indice, linha in dataset.head(n = 10).iterrows():
#  print(indice, linha.bedrooms, linha.floors, linha.price)

**Percorrendo e atualizando linhas de um DataFrame**

In [ ]:
# Imprime os 5 primeiros valores do atributo 'price' antes de atualizá-los
dataset.price.head()

In [ ]:
# Método at: Acessa um único valor para um par de etiquetas de linha/coluna. Semelhante a 'loc', pois ambos 
# fornecem pesquisas baseadas em etiquetas. Use 'at' se precisar apenas obter ou definir um único valor em um 
# DataFrame.

# Obtém o valor no par linha/coluna especificado
dataset.at[0, 'price']

In [ ]:
# Atualizando o valor no par linha/coluna especificado
dataset.at[0, 'price'] = 999999.0
dataset['price'].head()

In [ ]:
# Atualiza o valor da coluna 'price' multiplicando seu valor por 2.

# Por padrão, o método iterrows não permite atualizar os dados de um DataFrame porque retorna uma tupla e não é
# permitida a modificação nesse tipo de objeto. Para contornar esse problema usamos o método at.

for indice, linha in dataset.iterrows():
  dataset.at[indice, 'price'] = linha['price']*2

In [ ]:
# Valor alterado
dataset.price.head()

### **Método itertuples**

O método *itertuples* itera sobre as linhas do Dataframe como pares nomeados, com o *index* como primeiro elemento da tupla. É mais rápido que o método *iterrows*.

In [ ]:
# Criando o DataFrame
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Percorrendo o DataFrame. O retorno é do tipo tupla como no iterrows, mas em outro formato
for linha in dataset.head().itertuples():
    print(linha)

In [ ]:
# Percorrendo o DataFrame e imprimindo os registros de determinadas colunas
for linha in dataset.head().itertuples():
    print(linha.id, linha.bedrooms, linha.price)

**Percorrendo e atualizando linhas de um DataFrame**

In [ ]:
# Atualizando as colunas 'id' e 'bedrooms'.

# Index: O objeto básico que armazena etiquetas de eixo para todos os objetos pandas.

for linha in dataset.head().itertuples():
    dataset.at[linha.Index, 'id'] = 3
    dataset.at[linha.Index, 'bedrooms'] = linha.bedrooms*2

In [ ]:
dataset.head()

## **Análise e Tratamendo de Dados**

### **Missing Values**

*Missing values* são valores faltantes em colunas (NaN ou None). Podem ser devidos à falhas na carga de dados, falhas em crawlers ou à corrupção de dados. Os *missing values* podem ser um problema em diversas situações, por exemplo, em algoritmos de Machine Learning que não trabalham bem com dados faltantes. Estes também podem atrapalhar resultados de análises.

Apesar de numpy.nan e None serem tipos de dados diferentes (o primeiro é do tipo float e o segundo é do tipo NoneType), Pandas trata ambos como valores faltantes.

In [ ]:
# Criando o DataFrame
dataset = pd.read_csv(arquivo, nrows = 12)
dataset

In [ ]:
# Consultando a quantidade de valores faltantes por colunas

# Método isnull: Detecta missing values. Retorna um objeto booleano do mesmo tamanho indicando se os valores são 
# NA (tais como None ou numpy.NaN). NA: acrônimo para Not Available, NaN: acrônimo para Not a Number.
# Método sum: Retorna a soma dos valores solicitados.
dataset.isnull().sum()

Podemos manipular os valores faltantes, removendo-os da base de dados ou substituindo-os por constantes ou por médias.

**Apagando Missing Values**

In [ ]:
# Método dropna: Remove missing values.
# Parâmetro axis: Define o eixo no qual será aplicado o método. 0 ou 'index' para linhas, 1 ou 'columns' para 
# colunas. Valor padrão 0.
# Parâmetro how: Determina se uma linha ou coluna será apagada se tiver pelo menos um valor faltante (how = 'any')
# ou todos seus valores faltantes (how = 'all'). Valor padrão 'any'.
# Parâmetro inplace: Se True altera o DataFrame em memórida. Valor padrão False.

# Remove todas as linhas que tem pelo menos um registro faltante em algum atributo.
dataset.dropna(inplace = True)
dataset

In [ ]:
# Adicionando uma linha com valores NaN ao DataFrame
nova_linha = {'id': None, 'date': None, 'price': np.nan, 'bedrooms': np.nan, 'bathrooms': np.nan, 
              'sqft_living': np.nan, 'sqft_lot': np.nan, 'floors': None, 'waterfront': np.nan, 'view': np.nan, 
              'condition': np.nan, 'grade': np.nan, 'sqft_above': np.nan, 'sqft_basement': np.nan, 
              'yr_built': np.nan, 'yr_renovated': np.nan, 'zipcode': np.nan, 'lat': np.nan, 'long': np.nan, 
              'sqft_living15': np.nan, 'sqft_lot15': np.nan}
dataset = dataset.append(nova_linha, ignore_index = True)
dataset

In [ ]:
# Removendo somente linhas que estejam com valores faltantes em todas as colunas
dataset.dropna(how = 'all', inplace = True)
dataset

**Atribuindo Valores aos Missing Values**

No caso onde se tem muitos valores faltantes numa base de dados poderia ser um problema remover eles, já que poderia deixar a base de dados desbalanceada e poderiamos excluir linhas interessantes para nossas análises. Por esta razão, outra forma de trabalhar com valores faltantes é atribuir um valor a eles, por exemplo, o valor médio de uma coluna.

In [ ]:
# Criando o DataFrame
dataset = pd.read_csv(arquivo, nrows = 12)
dataset

In [ ]:
dataset.isnull().sum()

In [ ]:
# Método fillna: Preenche os valores faltantes com alguma condição

# Preenchendo missing values da coluna 'floors' com a média de seus valores
dataset['floors'].fillna(dataset['floors'].mean(), inplace = True)
dataset

In [ ]:
# Preenchendo missing values da coluna 'floors' com o valor constante 1. Isto é, definimos que todo imóvel tem pelo
# menos 1 andar
dataset = pd.read_csv(arquivo, nrows = 12)
dataset['floors'].fillna(1, inplace = True)
dataset

### **Visualização de Dados**

O Pandas integra no seu código recursos para utilizar a biblioteca matplotlib, que é a mais famosa para visualização de dados do Python.

In [ ]:
# Criando o DataFrame
dataset = pd.read_csv(arquivo)

In [ ]:
# Preço de imóveis num gráfico de linhas. Preço de imóveis (eixo y) vs. quantidade de imóveis (eixo x). 

# Método plot: Faz plotagens de DataFrame (ou Series) usando matplotlib/pylab. 
# Parâmetro kind: Toma um dos seguintes strings: 
# - ‘line’: line plot (por padrão)
# - ‘bar’: vertical bar plot
# - ‘barh’: horizontal bar plot
# - ‘hist’: histogram
# - ‘box’: boxplot
# - ‘kde’: Kernel Density Estimation plot
# - ‘density’: same as ‘kde’
# - ‘area’: area plot
# - ‘pie’: pie plot
# - ‘scatter’: scatter plot
# - ‘hexbin’: hexbin plot.
# Parâmetro title: Título para o plot.

# Para renderizar os gráficos, use:
# %matplotlib notebook # no Jupyter Notebook
# %matplotlib inline # no Colab
%matplotlib notebook
dataset['price'].plot()

In [ ]:
# Preço de imóveis vs. número de quartos num gráfico de dispersão
dataset.plot(x = 'bedrooms', y = 'price', kind = 'scatter', title = 'Price vs. Bedrooms', color = 'mediumpurple')

A maioria dos imóveis têm entre de 3 - 5 quartos. Temos um imóvel com mais de 30 quartos, esse poderia ser um outlier.

In [ ]:
# Preço de imóveis vs. número de banheiros num gráfico de dispersão.
dataset.plot(x = 'bathrooms', y = 'price', kind = 'scatter', title = 'Price vs. Bathrooms', color = 'y')

In [ ]:
# Histograma do preço de imóveis
%matplotlib notebook
dataset['price'].plot(kind = 'hist', bins = 30, title = 'Price Histogram', color = 'gainsboro')

In [ ]:
# Outra forma de plotar o histograma do preço de imóveis
import matplotlib.pyplot as plt
%matplotlib notebook
dataset['price'].hist(bins = 30, color = 'lightcoral')
plt.title('Price Histogram')
plt.xlabel('Price')
plt.ylabel('Frequency')

In [ ]:
# Histogramas do número de quartos e número de banheiros lado a lado
dataset[['bedrooms', 'bathrooms']].hist(bins = 30, alpha = 0.5, color = 'blue')

### **Estatística Descritiva**

In [ ]:
# Imprime os valores mínimos de cada coluna
dataset.min()

In [ ]:
# Imprime os valores mínimos de colunas específicas
dataset[['bedrooms', 'bathrooms']].min()

In [ ]:
# Imprime o valor mínimo de uma coluna
dataset['bedrooms'].min()

Tem imóveis na base de dados que não têm quartos.

In [ ]:
# Imprime os valores máximos de cada coluna
dataset.max()

In [ ]:
# Imprime o valor médio de uma coluna
dataset['bedrooms'].mean()

In [ ]:
# Imprime o desvío padrão de uma coluna
dataset['bedrooms'].std()

O desvio padrão permite ver a variabilidade dos dados. Neste caso, temos uma variação de 0.93 acima e abaixo da média.

In [ ]:
# Método skew: Calcula a simetria dos dados
# - Um valor zero indica uma distribuição simétrica.
# - Um valor maior ou menor que zero indica uma distribuição assimétrica:
#      - Valor acima de zero indica uma assimetria positiva, existem mais valores acima da média.
#      - Valor abaixo de zero indica uma assimetria negativa, existem mais valores abaixo da média.

# Retorna o valor de simetria da coluna 'bedrooms'
dataset['bedrooms'].skew()

Neste caso, a simetria é positiva, tem uma variação positiva com relação à média. Portanto, a maioria de número de quartos estão superiores à média de 3.

In [ ]:
# Retorna o valor de simetria de cada coluna do DataFrame
dataset.skew()

No caso da coluna *waterfront*, a maioria dos valores estão muito acima da média. Isso pode de alguma forma inferir em nossas análises. Ter colunas muito discrepantes, com valores muito acima ou muito abaixo da média, indica que a base de dados está desbalanceada estatísticamente.

Perceba que a estatística descritiva fornece informações que podem servir de ponto inicial para investigação da base de dados.

## **Extraindo Insights**

Uma forma de explorar os dados é investir na visualização. Os gráficos de **Boxplot** ou gráficos de Caixa são excelentes ferramentas na análise de dados, principalmente para identificar **outliers**, esses são dados que se encontram fora do padrão global de uma distribuição.

O Boxplot representa gráficamente grupos de dados numéricos através de seus quartis. O gráfico é formado por uma caixa que se estende do primeiro ao terceiro quartil com uma linha na mediana, e duas linhas.

Para determinar os quartis ordenamos os dados por ordem crescente:
* O quartil Q2 é dado pela mediana.
* O primeiro quartil, Q1, é a mediana dos dados que ficam para a esquerda de Q2.
* O terceiro quartil, Q3, é a mediana dos dados que ficam para a direita de Q2.

A diferença entre Q3 e Q1 é a amplitude ou **distância interquartil** (DI), uma medida da **variabilidade** ou dispersão entre os dados. Um ponto é considerado um outlier, anomalia ou valor discrepante se estiver mais de 1.5 DI acima do terceiro quartil (> Q3 + 1.5 DI) ou abaixo do primeiro quartil (< Q1 - 1.5 DI). Estes limites são representados pelas linhas superior e inferior à caixa.

In [ ]:
import matplotlib

In [ ]:
%matplotlib notebook

# Importamos a biblioteca matplotlib para colocar um estilo de gráfico diferente ao por padrão do matplotlib.
# Usamos o estilo de gráfico 'ggplot'
matplotlib.style.use('ggplot')

# Gráfico de Boxplot da coluna 'bedrooms'
dataset.boxplot(column = 'bedrooms')

O gráfico nos mostra que a maioria dos imóveis possue em torno de 3 e 4 número de quartos. O valor mínimo é de 2 e o valor máximo de 5, no padrão global. As bolinhas mostram os outliers (pontos que se distanciam muito da média dos valores).

In [ ]:
# Visualizando os estilos de layout disponíveis
matplotlib.style.available

In [ ]:
# Gráficos de Boxplot da coluna 'price' agrupados por valores únicos do número de quartos
dataset.boxplot(column = 'price', by = 'bedrooms')

No gráfico anterior podemos observar, por exemplo, que existe uma maior quantidade de outliers para os números de quartos igual a 3, 4 e 5 e há uma grande variabilidade nos preços para imóveis com número de quartos igual a 8. No caso de número de quartos igual a 33 só se tem um imóvel, é um único valor de preço, portanto não consegue formar um boxplot.

### **Correlação de Dados**

A correlação de variáveis informa o nível de dependência que possuem entre si.

*   Correlacao positiva: Quando uma variável aumenta a outra também aumenta.
*   Correlação negativa: Quando uma variável aumenta a outra diminui.

In [ ]:
# Método corr: Calcula a correlação de todas as colunas do DataFrame (person).
# Parâmetro method: Método da correlação (‘pearson’ (padrão), ‘kendall’, ‘spearman’).
dataset.corr()

In [ ]:
# Calculando a correlação de todas as colunas com o método de Spearman
dataset.corr('spearman')

In [ ]:
# Calculando a correlação de colunas específicas
dataset[['bedrooms', 'bathrooms', 'price']].corr()

In [ ]:
# Plotando a correlação de colunas específicas
dataset[['bedrooms', 'bathrooms', 'price']].corr().plot()

### **Tabelas Pivot**

As tabelas Pivot permitem fazer agrupamento nos dados. Codificar para agrupar dados poderia ser complexo no caso de uma base de dados grande e o desempenho poderia ser ruim. Esse recurso do pandas fornece uma enorme vantagem em termos de tempo e desempenho computacional.

In [ ]:
# Criando o DataFrame
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Conta a quantidade de linhas (imóveis) dos registros da coluna 'id' agrupados pelos que têm e não têm visão para 
# o mar ('waterfront') e pelo número de andares ('floors'). 

# Método pivot_table: Faz agrupamentos nos dados.
# Parâmetro values: Coluna para agregar, opcional. 
# Parâmetro index: Informa as colunas do DataFrame que queremos agrupar no índice da tabela dinâmica.
# Parâmetro columns: Informa as colunas do DataFrame que queremos agrupar na coluna da tabela dinâmica.
# Parâmetro aggfunc: Define a função de agregação, que poderia ser uma média, a contagem de linhas, uma soma, etc.
# Parâmetro margins: Se True adiciona totais à tabela dinâmica.
dataset.pivot_table(values = 'id', index = ['waterfront', 'floors'], aggfunc = 'count', margins = True)

Temos, por exemplo, 10622 imóveis com um andar e sem visão para o mar. A grande maioria dos imóveis não tem visão para o mar e são imóveis de 1 e 2 andares. No final se mostra a quantidade total de imóveis (linhas).

In [ ]:
# Conta a quantidade de linhas, dá a soma, o valor mínimo, o valor máximo e o valor médio dos registros da coluna 
# 'id' agrupados pelas colunas 'waterfront' e 'floors'
dataset.pivot_table(values = 'id', 
                    index = ['waterfront', 'floors'], 
                    aggfunc = ['count', np.sum, min, max, np.mean], 
                    margins = True)

In [ ]:
# Conta a quantidade de linhas dos registros da coluna 'id' e os valores mínimos e máximos dos registros da coluna
# 'price' agrupados pelas colunas 'waterfront' (no índice da tabela dinâmica) e 'floors' (na coluna da tabela 
# dinâmica)
dataset.pivot_table(values = ['id', 'price'], 
                    index = 'waterfront',
                    columns = 'floors',
                    aggfunc = {'id': 'count', 'price': [min, max]})

### **Crosstab ou Tabulação Cruzada**

Essa funcionalidade cruza os valores das variáveis para ter uma visão melhor dos dados.

In [ ]:
# Método crosstab: Calcula uma tabulação cruzada de dois ou mais fatores. Por padrão, calcula uma tabela de 
# frequência dos fatores, a menos que os parâmetros 'values' e 'aggfunc' sejam especificados.
# Parâmetro values: Coluna para agregar, opcional. 
# Parâmetro aggfunc: Define a função de agregação, que poderia ser uma média, a contagem de linhas, uma soma, etc.
# Opcional.

# Distribuição dos imóveis por número de quartos ('bedrooms') e condição do imóvel (coluna 'condition', varia de 1
# se a condição é ruim até 5 se a condição é ótima).
pd.crosstab(dataset['bedrooms'], dataset['condition'])

Podemos ver que a maior quantidade de imóveis com 3 quartos pertencem à condição 3.

In [ ]:
# Tabulação cruzada de 3 fatores
pd.crosstab(dataset.bedrooms, [dataset.condition, dataset.waterfront])

In [ ]:
# Tabulação cruzada que retorna o número de registros da coluna 'id' por agrupamento.

# Método fillna: Preenche os valores NA/NaN usando o método especificado.
pd.crosstab(dataset.waterfront, dataset.floors, values = dataset.id, aggfunc = 'count').fillna('--')

In [ ]:
# Plota a tabulação cruzada num gráfico de barras. Colocamos o resultado da tabulação cruzada numa variável e 
# usamos o método plot
table = pd.crosstab(dataset['bedrooms'], dataset['condition'])
table.plot(kind = 'bar', width = 1.0, color = ['turquoise', 'red', 'lightcoral', 'gold', 'mediumpurple'], 
           title = 'Condition and Bedrooms Crosstab', grid = False)

Fornece a mesma informação que a tabela mas em formato gráfico.

## **Trabalhando com Excel**

O Pandas permite trabalhar com o Excel. Podemos ler, manipular e escrever planilhas do Excel através de DataFrames. 
A base de dados que iremos usar foi extraída e modificada da [web](http://mercury.webster.edu/aleshunas/Data%20Sets/Supplemental%20Excel%20Data%20Sets.htm).

**Lendo um arquivo do Excel**

In [ ]:
# Criando um DataFrame a partir de um arquivo do Excel.

# Método read_excel: Lê um arquivo do Excel em um DataFrame do Pandas.
# Parâmetro sheet_name: Define a sheet no Excel pelo nome passado como string ou por inteiros começando do zero. 
# Essa opção permite ler outras abas. Valor padrão é 0.
# Parâmetro header: Linha a ser usada para as etiquetas das colunas. Use None se não houver cabeçalho. Valor padrão
# é 0, correspondente à primeira linha.
# Parâmetro index_col: Permite indexar o DataFrame por uma determinada coluna ao invés do numerador sequencial que
# o Pandas gera.

# header = 1 indica que as etiquetas das colunas estão na segunda linha.
arquivo_excel = 'PopularKids.xls'
dataframe_excel = pd.read_excel(arquivo_excel, sheet_name = 0, header = 1)
dataframe_excel.head()

In [ ]:
# Lendo o arquivo indexando pela coluna 'Age', para poder fazer query
dataframe_excel = pd.read_excel(arquivo_excel, sheet_name = 0, header = 1, index_col = 2)
dataframe_excel.head()

In [ ]:
# Classifica o DataFrame pelo index em ordem ascendente.

# Método sort_index: Ordena o DataFrame pelo índice.
# Parâmetro ascending: Se True classifica em ordem ascendente.
# Parâmetro inplace: Se True a alteração é feita no DataFrame em memória e retorna None. Se False retorna uma cópia
# do objeto com a operação realizada. Valor padrão é False.
dataframe_excel.sort_index()

In [ ]:
# Classifica o DataFrame pelo index em ordem descendente.
dataframe_excel.sort_index(ascending = False)

Podemos aplicar todos os métodos disponíveis aos DataFrames.

In [ ]:
dataframe_excel.head()

**Gerando Planilhas do Excel a partir de DataFrames**

In [ ]:
# Usaremos o objeto 'dataset' com dados de imóveis para gerar um planilha
dataset = pd.read_csv(arquivo)
dataset.head()

In [ ]:
# Pegamos uma parte do 'dataset' para gerar uma planilha. Também poderiamos usar o 'dataset' completo.
colunas = ['id', 'bedrooms', 'waterfront', 'price']
dataset[colunas].head()

In [ ]:
# Escrevendo no disco uma planilha Excel sem o índice

# Método to_excel: Escreve o objeto em uma planilha do Excel.
# Parâmetro sheet_name: Nome da planilha que conterá o DataFrame. Por padrão é 'Sheet1'.
# Parâmetro index: Se True escreve o index. Valor padrão é True.
dataset[colunas].to_excel('planilha_excel.xls', index = False)

## **Mesclando Dados de diversos DataFrames**

Aqui veremos como juntar diversas tabelas que contêm informações diferentes mas mantêm uma chave em comum (chave de ligação), isto é, iremos trabalhar com bancos de dados relacionais, bem estruturados, usando a biblioteca Pandas. Isto é parecido à linguagem SQL. 

A base de dados que iremos usar foi extraída da [web](http://mercury.webster.edu/aleshunas/Data%20Sets/Supplemental%20Excel%20Data%20Sets.htm) e modificada colocando o conteúdo em duas sheets do mesmo arquivo Excel, ambas compartilhando algumas linhas na primeira coluna.

In [ ]:
# Carregamos dois arquivos para a memória. Podem ser arquivos csv.
arquivo_excel = 'World95.xls'
df1 = pd.read_excel(arquivo_excel, sheet_name = 0)
df2 = pd.read_excel(arquivo_excel, sheet_name = 1)

In [ ]:
# Visualizando o conteúdo do objeto 'df1'
df1

In [ ]:
# Visualizando o conteúdo do objeto 'df2'
df2

Os dois objetos compartilham um mesmo atributo (chave) que usaremos para ligar os dois DataFrames. Criaremos um único DataFrame juntanto os dois anteriores a partir do atributo 'country'.

### **Opções de Merge**

Tipos de join (ligações):

*   **INNER JOIN** (padrão): Retorna apenas os registros em comum em ambos os DataFrames. 
*   **LEFT JOIN**: Retorna todos os registros do DataFrame à esquerda (primeira tabela) independente se tem registros associados à direita.
*   **RIGHT JOIN**: Retorna todos os registros do DataFrame à direita (segunda tabela) independente se tem registros assoaciados à esquerda.
*   **OUTER JOIN** ou **FULL JOIN**: Retorna todos os registros de ambos os DataFrames.

In [ ]:
from IPython.display import Image
Image('joins.png')

Para os exemplos abaixo nossa chave de ligação é a coluna 'country'. Iremos retornar os seguintes atributos: 'country', 'populatn', 'religion' do df1 e 'country', 'birth_rt', 'fertilty', 'climate' do df2.

*   **Inner Join**

In [ ]:
# Método merge: Permite fazer a ligação. O primeiro parâmetro será o DataFrame à esquerda, o segundo parâmetro será
# o DataFrame à direita.
# Parâmetro on: Especifica qual é o atributo chave de ligação entre os dois DataFrames.
# Parâmetro how: Especifica o tipo de ligação: ‘left’, ‘right’, ‘outer’, ‘inner’. Por padrão é 'inner'.

query = pd.merge(df1[['country', 'populatn', 'religion']], 
                 df2[['country', 'birth_rt', 'fertilty', 'climate']], 
                 on = 'country')
query

Retorna os registros em comum dos DataFrames.

*   **Left Join**

In [ ]:
query = pd.merge(df1[['country', 'populatn', 'religion']], 
                 df2[['country', 'birth_rt', 'fertilty', 'climate']], 
                 on = 'country', 
                 how = 'left')
query

Todos os dados solicitados do DataFrame à esquerda são retornados, mas não todos têm registros correspondentes no DataFrame à direita.

*   **Right Join**

In [ ]:
query = pd.merge(df1[['country', 'populatn', 'religion']], 
                 df2[['country', 'birth_rt', 'fertilty', 'climate']], 
                 on = 'country', 
                 how = 'right')
query

Todos os atributos solicitados do DataFrame à direita são retornados independente se têm atributos associados ao DataFrame à esquerda.

*   **Outer Join ou Full Join**

In [ ]:
query = pd.merge(df1[['country', 'populatn', 'religion']], 
                 df2[['country', 'birth_rt', 'fertilty', 'climate']], 
                 on = 'country', 
                 how = 'outer')
query

Retorna todos os registros dos dois DataFrames.