<a href="https://colab.research.google.com/github/astrouhiu/Scripts-Python/blob/master/Python_Introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Introdução ao Python**

In [1]:
'''
Um comentário de várias linhas. Pressione Ctrl + Enter para executar a célula no 
google Colab
'''

'\nUm comentário de várias linhas. Pressione Ctrl + Enter para executar a célula no \ngoogle Colab\n'

In [2]:
# Comentário de uma linha

##**Funções Embutidas**

São funções que vem junto com a linguagem Python.

In [3]:
# Função print: Imprime o argumento passado na tela
print('Hello World')

Hello World

In [4]:
# Função type: Retorna o tipo da variável ou valor que é passado como parâmetro
print(type(7))
print(type(3.2))
print(type('Io'))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
# Operações matemáticas simples com inteiros e floats
print(5 + 7)
print(2 - 2)
print(4 * 2)
print(3 / 3)
print(2**3)
print(5.3 + 9.4)
print(7.4 - 6.3)
print(10.2 * 2.5)
print(6.6 / 2)
print(4.1**(1/2))

12
0
8
1.0
8
14.7
1.1000000000000005
25.5
3.3
2.0248456731316584

In [6]:
# Funções de conversão: Como seu nome sugere, são utilizadas para converter 
# valores ou variáveis
print(int(8))
print(int(8.5))
print(float(7.2))
print(float(7))
print(str(4))
print(float(15.2) + int('2'))

8
8
7.2
7.0
4
17.2

In [7]:
# Função round: Arredonda uma expressão numérica
print(round(3.88787))
print(round(3.7879979, 2))

4
3.79

Ao longo do texto, veremos outras funções embutidas

##**Variáveis**

In [8]:
# Declaração de variáveis
var1 = 1
var2 = 2
var3 = 3
print(var1)
print(type(var1))
print(var1 + var2)

1
<class 'int'>
3

In [9]:
# Operações matemáticas e variáveis
resultado = var3 * 4
print(resultado)

resultado = 78 / 2
print(resultado)

12
39.0

In [10]:
# Declarando várias variáveis numa mesma linha
var1, var2, var3 = 10, 'Pluto', 3
print(var1, var2, var3)

10 Pluto 3

In [11]:
# Reatribuindo valores às variáveis graças a tipagem dinâmica
var1 = 'Planet Nine'
var2 = 9.0
print(type(var1), type(var2))

<class 'str'> <class 'float'>

In [12]:
# Trocar valores de dois variáveis
a = 7
b = 3
a, b = b, a
print(a, b)

3 7

Em outras linguagens precisaria de 3 atribuições (uma variável temporária intermediária).

In [13]:
# Atribuição aumentada
x = 10
x += 10
print(x)

# Sintaxe abreviada de x = x + 10, chamado de atribuição aumentada: no momento 
# que você atribui você faz alguma operacão

x *= 2
print(x)
x /= 4
print(x)
x //= 3
print(x)
x %= 2
print(x)
x **= 10
print(x)
x -= 1
print(x)

20
40
10.0
3.0
1.0
1.0
0.0

##**Restrições para Criação de Variáveis**

In [14]:
# Pode usar underline
var_teste = 8

Nomes de variáveis não podem começar com número (exemplo: 1var = 10) nem receber nomes de palavras reservadas: break, if, else, and, or, while, etc. (exemplo: for = 5).

##**Strings**

String é uma sequência de caracteres.

In [15]:
# String vazio
type('')

str

In [16]:
# Criando uma variável do tipo String
frase = 'Kepler-9 é estável'
frase

'Kepler-9 é estável'

In [17]:
# Indexando Strings. Importante: O índice começa com o número 0
print(frase[0])
print(frase[1])

# Devolve o último elemento
print(frase[-1])

K
e
l

Não é permitido fazer substituição de um caractere (exemplo: frase[0] = 'J') nem operações com string que o string não saiba lidar com ela (exemplo: '15' + 2).

In [18]:
# Slicing: Pega intervalos de um string
print("Imprime todos os caracteres até a posição 5:", frase[0:6])
print("Imprime todos os caracteres da posição 6 até o final:", frase[6:])
print("Imprime todos os caracteres da posição 2 até a posição 3:", frase[2:4])
print("Mesmo resultado que frase[0:6]:", frase[:6])

Imprime todos os caracteres até a posição 5: Kepler
Imprime todos os caracteres da posição 6 até o final: -9 é estável
Imprime todos os caracteres da posição 2 até a posição 3: pl
Mesmo resultado que frase[0:6]: Kepler

In [19]:
# Concatenando strings
frase1 = 'Diante da vastidão do tempo e da imensidão do universo, '
frase2 = 'é um imenso prazer para mim dividir um planeta e uma época com você.'
print(frase1 + frase2)

print('15' + str(2))

Diante da vastidão do tempo e da imensidão do universo, é um imenso prazer para mim dividir um planeta e uma época com você.
152

In [20]:
# Podemos armazenar essa frase numa outra variável
frase = frase1 + frase2

In [21]:
# Repetição
'legal' * 3

'legallegallegal'

In [22]:
# Strings são objetos, então contém métodos, atributos e recursos que podemos 
# usar por ser uma linguagem orientada a objetos
frase = 'Viver é como andar de bicicleta: É preciso estar em constante movimento para manter o equilíbrio.'
frase

'Viver é como andar de bicicleta: É preciso estar em constante movimento para manter o equilíbrio.'

In [23]:
# Método count: Conta quantas ocorrências de um determinado substring existem 
# dentro de um string
print(frase.count('bicicleta'))
print('ana gosta de banana'.count('n'))

1
3

In [24]:
# Método lower: Coloca em minúsculas todos os caracteres da string
frase.lower()

'viver é como andar de bicicleta: é preciso estar em constante movimento para manter o equilíbrio.'

In [25]:
# Método upper: Coloca todos os caracteres em maiúscula
frase.upper()

'VIVER É COMO ANDAR DE BICICLETA: É PRECISO ESTAR EM CONSTANTE MOVIMENTO PARA MANTER O EQUILÍBRIO.'

In [26]:
# Método capitalize: Coloca só a primeira letra em maiúscula, o resto em 
# minúscula
frase.capitalize()

'Viver é como andar de bicicleta: é preciso estar em constante movimento para manter o equilíbrio.'

In [27]:
# Método strip: Remove os espaços em brancos do começo e do fim do string
'   python@gmail.com  '.strip()

'python@gmail.com'

In [28]:
# Método replace: Substitui um pedaço de um string por um outro pedaço
'Eu torço para o Perú'.replace('Perú', 'Colombia')

'Eu torço para o Colombia'

In [29]:
# Método center: Centra o string, definindo o comprimento da string retornada e
# opcionalmente o caractere de preenchimento (o espaço é o padrão)
'brasil sil sil'.capitalize().center(75, '.')

'...............................Brasil sil sil..............................'

In [30]:
# Método find: Acha a posição da primeira ocorrência de um string dentro de 
# outro. Devolve -1 se o string passado como argumento não está presente
frase.find('ma')

77

In [31]:
# Método islower: Retorna True se a frase está totalmente em minúscula ou 
# retorna False se isso nao foi verdade
frase.islower()

False

In [32]:
# Método split: Permite quebrar a string e retornar uma lista de termos, onde 
# ele encontrar um espaço 
frase.split()

['Viver',
 'é',
 'como',
 'andar',
 'de',
 'bicicleta:',
 'É',
 'preciso',
 'estar',
 'em',
 'constante',
 'movimento',
 'para',
 'manter',
 'o',
 'equilíbrio.']

In [33]:
# O método split pode receber parâmetros. Se quiser quebrar a cada vez que ele 
# encontar um 'de':
frase.split('de')

['Viver é como andar ',
 ' bicicleta: É preciso estar em constante movimento para manter o equilíbrio.']

In [34]:
# Método len: Dá o comprimento de um string
len(frase)

97

In [35]:
# Comparação de strings
x = 'teoria'
y = 'prática'

print(x == y)
print(x != y) 

z = 'teoria'

print(x == z)
print(x is z)

# Strings com o mesmo conteúdo acabam apontando para o mesmo lugar da memória

False
True
True
True

In [36]:
# Comparação com maior ou menor
print(x > y)

# A comparação é feita segunda a ordem lexicográfica (ordem de caractere a 
# caractere). A função 'ord' dá o número de ordem (número ordinal) do caractere 
# no padrão unicode, que é um padrão internacional de representação de 
# caracteres que o Python adota. Se as primeiras letras fossem iguais se passa 
# para as segundas e assim por diante, até encontrar uma letra diferente e 
# calcula qual que é maior. No código unicode as letras aparecem na ordem 
# alfabética, e as letras maiúsculas vem antes do que as letras minúsculas
# https://en.wikipedia.org/wiki/ASCII

# Código da letra maiúscula 'A'
print(ord('A'))

# Código da letra minúscula 'a'
print(ord('a'))

# Para comparar palavras independente da letra maiúscula ou minúscula, primeiro
# tem que usar a função lower
print("Maca" > "banana")
print("Maca".lower() > "banana".lower())

True
65
97
False
True

##**Listas**

Em Python, listas são estruturas de dados bem versáteis, estas podem conter dados de tipos diferentes, até mesmo outras listas (podem ser aninhadas) e são bem fáceis de manipular

In [37]:
# Sintaxe para criar uma lista
lista = [1, 2, 3]
lista

[1, 2, 3]

In [38]:
# Lista com tipos de dados diferentes
lista = ['cachorro', 'gato', 7.2, 333, [3.141592, 2.718281]]
lista

['cachorro', 'gato', 7.2, 333, [3.141592, 2.718281]]

In [39]:
# Índices de elementos. As listas são indexadas como acontece com as strings, o 
# primeiro elemento começa no índice 0
print(lista[0])
print(lista[4])

cachorro
[3.141592, 2.718281]

In [40]:
# Atualizando o primeiro elemento da lista. Diferente das strings, podemos 
# atualizar os elementos de uma lista
lista[0] = 'árvore'
lista

['árvore', 'gato', 7.2, 333, [3.141592, 2.718281]]

In [41]:
# Slicing em listas. Como em strings, podemos percorrer os elementos da lista
print("Imprime elementos a partir do elemento 1:", lista[1:])

Imprime elementos a partir do elemento 1: ['gato', 7.2, 333, [3.141592, 2.718281]]

In [42]:
# Método remove: Permite remover elementos
lista.remove(333)
lista

['árvore', 'gato', 7.2, [3.141592, 2.718281]]

In [43]:
# Função len: Retorna o tamanho da lista
len(lista)

4

In [44]:
# Concatenando listas
lista + [76, 'L4']

['árvore', 'gato', 7.2, [3.141592, 2.718281], 76, 'L4']

In [45]:
# Usamos o operador 'in' para verificar se um determinado elemento está na lista
'árvore' in lista

True

In [46]:
# Função max: Retorna o valor máximo da lista. A lista precisa conter apenas 
# valores numéricos ("max(lista)" daria erro)
lista2 = [9, 4, 7.3, 5.2]
max(lista2)

9

In [47]:
# Função mim: Retorna o valor mínimo da lista
min(lista2)

4

In [48]:
# A partir de uma lista podemos obter uma nova com os valores multiplicados
['Life'] * 4

['Life', 'Life', 'Life', 'Life']

In [49]:
# Para visualizar os métodos existentes do objeto lista, digite o nome do objeto
# + "." + pressione a tecla tab ("lista.")

In [50]:
# Método append: Adiciona um elemento na lista
lista.append('azul')
lista

['árvore', 'gato', 7.2, [3.141592, 2.718281], 'azul']

In [51]:
# Método extend: Estende a lista existente com mais de um elemento (que e uma 
# limitação do método append)
lista.extend(['céu', 2.1])
lista

['árvore', 'gato', 7.2, [3.141592, 2.718281], 'azul', 'céu', 2.1]

In [52]:
# Método index: Retorna o índice do elemento da lista que recebe como parâmetro
lista.index('céu')

5

In [53]:
# Método remove: Remove o elemento que é passado como parâmetro
lista.remove('gato')
lista

['árvore', 7.2, [3.141592, 2.718281], 'azul', 'céu', 2.1]

In [54]:
# Método count: Retorna a quantidade de vezes que um determinado elemento 
# aparece na lista
lista.count('vermelho')

0

In [55]:
# Método sort: Muda uma lista ordenando-la em forma crescente (por padrão) se 
# for apenas de inteiros/floats, ou em ordem alfabética se for apenas de strings.
# Não consegue fazer ordenação de valores de uma lista que contenha valores do 
# tipo strings e inteiros/floats
lista3 = [454, 2, 76, 89, 23]
lista4 = ['lua', 'sol', 'asteroides', 'troianos']
lista3.sort()
lista4.sort()
print(lista3)
print(lista4)

# Em ordem decrescente
lista3.sort(reverse = True)
lista4.sort(reverse = True)
print(lista3) 
print(lista4)

[2, 23, 76, 89, 454]
['asteroides', 'lua', 'sol', 'troianos']
[454, 89, 76, 23, 2]
['troianos', 'sol', 'lua', 'asteroides']

In [56]:
# Função sorted: Construi uma nova lista, sem afetar a lista original 
lista5 = [9, 4, 6]
lista6 = sorted(lista5)
lista7 = sorted(lista5, reverse = True)
print(lista5)
print(lista6)
print(lista7)

[9, 4, 6]
[4, 6, 9]
[9, 6, 4]

##**Lista Aninhada**

Objeto que contém outras listas como elementos

In [57]:
# Lista que contém 3 listas
lista_aninhada = [[5, 3, 2], ['L1', 'L2', 'L3', 'L4', 'L5'], ['Io', 'Europa', 'Ganimedes', 'Calisto']]
lista_aninhada

[[5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto']]

In [58]:
# Imprimindo o primeiro elemento (lista de números)
lista_aninhada[0]

[5, 3, 2]

In [59]:
# Imprimindo o segundo elemento (lista de pontos de Lagrange)
lista_aninhada[1]

['L1', 'L2', 'L3', 'L4', 'L5']

In [60]:
# Imprimindo o terceira elemento (lista de satélites Galileanos)
lista_aninhada[2]

['Io', 'Europa', 'Ganimedes', 'Calisto']

In [61]:
# Imprimindo o segundo elemento da lista números
lista_aninhada[0][1]

3

In [62]:
# Imprimindo o último valor da lista de pontos de Lagrange
lista_aninhada[1][4]

'L5'

In [63]:
# Imprimindo o primeiro elemento da lista de satélites
lista_aninhada[2][0]

'Io'

In [64]:
# Operacao de repetição de elementos da lista aninhada
lista_aninhada * 3

[[5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto'],
 [5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto'],
 [5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto']]

In [65]:
lista_aninhada

[[5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto']]

In [66]:
# Note que a operação anterior não influenciou a lista original porque foi 
# mandado apenas a imprimir na tela, e não a receber o valor multiplicado como 
# embaixo
lista_aninhada = lista_aninhada * 3
lista_aninhada

[[5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto'],
 [5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto'],
 [5, 3, 2],
 ['L1', 'L2', 'L3', 'L4', 'L5'],
 ['Io', 'Europa', 'Ganimedes', 'Calisto']]

##**Tuplas**

As tuplas são estruturas de dados similas às listas, a principal diferença é que seus elementos são imutáveis, ou seja, não podem ser alterados (atualizados) após sua criação. Tentar fazer isso, retornaria uma mensagem de erro. As tuplas podem conter diferentes tipos de dados, até mesmo outras tuplas (tuplas aninhadas)

In [67]:
# Sintaxe para criação de uma tupla vazia
tupla = ()
tupla

()

In [68]:
# Criação de uma tupla recebendo dados
tupla = ('Jupiter', 'Euler', 84.8, 942)
tupla

('Jupiter', 'Euler', 84.8, 942)

In [69]:
# Imprimindo elementos da tupla
tupla[0], tupla[1], tupla[3]

('Jupiter', 'Euler', 942)

In [70]:
# As tuplas sao imutáveis!, uma vez criada não é possível atualizar os elementos
# tupla[0] = 'Saturno'

In [71]:
# Criação de tupla aninhada e impressão do terceiro elemento
tupla_aninhada = (5,6, (54, 23, 24))
tupla_aninhada[2]

(54, 23, 24)

In [72]:
# Acessando o primeiro valor da tupla que está aninhada
tupla_aninhada[2][0]

54

In [73]:
# Criação de uma tupla a partir da repetição de seus valores
tupla2 = tupla * 3
tupla2

('Jupiter',
 'Euler',
 84.8,
 942,
 'Jupiter',
 'Euler',
 84.8,
 942,
 'Jupiter',
 'Euler',
 84.8,
 942)

In [74]:
# Concatenação de tuplas
(1, 2, 3) + (7, 8, 9)

(1, 2, 3, 7, 8, 9)

In [75]:
# Verifica se um elemento pertence à tupla
'Venus' in tupla2

False

In [76]:
# Slicing
print("Percorre a tupla do elemento na posição 1 em diante:", tupla[1:])
print("Percorre a tupla do elemento na posição 1 até o elemento na posição 2:", tupla[1:3])

Percorre a tupla do elemento na posição 1 em diante: ('Euler', 84.8, 942)
Percorre a tupla do elemento na posição 1 até o elemento na posição 2: ('Euler', 84.8)

In [77]:
# Os métodos disponíveis para trabalhar com tuplas são mostrados digitando o nome da tupla + "." + tecla tab

In [78]:
# Método count
tupla.count('Jupiter')

1

In [79]:
# Método index
tupla.index('Jupiter')

0

In [80]:
# Função len
len(tupla)

4

In [81]:
# Função max
tupla2 = (4, 2, 443, 5.6)
max(tupla2)

443

In [82]:
# Função min
min(tupla2)

2

In [83]:
# Função tuple: Converte uma lista em tupla
lista = [8, 2, 3, 3, 'Euler', 'Lagrange']
tupla = tuple(lista)
print(tupla)
print(type(tupla))

(8, 2, 3, 3, 'Euler', 'Lagrange')
<class 'tuple'>

##**Dicionários**

Os dicionários são estruturas de dados bem completas, que funcionam na estrutara de "chave:valor". Como as listas, os dicionários são mutáveis, ou seja, podem conter alterações após a sua criação. Esses objetos podem conter dados de tipos diferentes e até mesmo outros dicionarios.

In [84]:
# Criando um dicionário vazio
dic = {}

# Objeto do tipo dicionário
print(type(dic))

<class 'dict'>

In [85]:
# Os dicionários trabalham com o conceito de "chave:valor". No exemplo, temos
# a chave Julia com o valor 18, a chave "massa" que aponta a outro dicionário 
# (como valores dessa chave), a chave "valores" que armazena uma lista, a chave
# "disciplinas" que aponta para uma lista de strings
alunos = {'Julia':18, 'José':16, 'Susan':17, 'Gabriel':17,
          'massas':{'Julia':60, 'José':70, 'Susan':55},
          'valores':[18, 10, 20, 5, 11],
          'disciplinas':['Matemáticas', 'Inglês', 'Física']
          }
alunos

{'Gabriel': 17,
 'José': 16,
 'Julia': 18,
 'Susan': 17,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

In [86]:
# O acesso aos valores de um dicionário é a partir das chaves
alunos['Susan']

17

In [87]:
# Acessando ao dicionário aninhado. A chave "massas" contém como valor outro 
# dicionário, para obter o valor de uma chave nesse outro dicionário, passamos o
# nome da chave que queremos dentro da chave "massas"
alunos['massas']['José']

70

In [88]:
# Acessando à lista dentro do dicionário. Para imprimir um elemento da lista, 
# chamamos ao dicionário, passamos a chave e a posição na lista
alunos['disciplinas'][0]

'Matemáticas'

##**Atualizando dicionários**

In [89]:
# Atualizando o valor de uma chave
alunos['José'] = 20
alunos['José']

20

In [90]:
# Adicionando uma chave e valor ao dicionário
alunos['Maria'] = 19
alunos

{'Gabriel': 17,
 'José': 20,
 'Julia': 18,
 'Maria': 19,
 'Susan': 17,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

In [91]:
# Apagando um elemento do dicionário
del alunos['José']
alunos

{'Gabriel': 17,
 'Julia': 18,
 'Maria': 19,
 'Susan': 17,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

##**Métodos disponíveis para trabalhar com Dicionários**

---

Para ver os métodos disponíveis para trabalhar com esse objeto, digitamos o nome do dicionário seguido de "." e presionamos a tecla tab: 

```
alunos.
```

In [92]:
# Método keys: Retorna todas as chaves do dicionário
alunos.keys()

dict_keys(['Julia', 'Susan', 'Gabriel', 'massas', 'valores', 'disciplinas', 'Maria'])

In [93]:
# Método values: Retorna os valores de todas as chaves do dicionário
alunos.values()

dict_values([18, 17, 17, {'Julia': 60, 'José': 70, 'Susan': 55}, [18, 10, 20, 5, 11], ['Matemáticas', 'Inglês', 'Física'], 19])

In [94]:
# Criando um segundo dicionário
alunos2 = {'Morgana':19, 'Rafael':18}
alunos2

{'Morgana': 19, 'Rafael': 18}

In [95]:
# Método update: Atualiza um dicionário existente a partir de outro, adicionando 
# seus elementos (chaves e valores)
alunos.update(alunos2)
alunos

{'Gabriel': 17,
 'Julia': 18,
 'Maria': 19,
 'Morgana': 19,
 'Rafael': 18,
 'Susan': 17,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

In [96]:
# Método get: Retorna o valor de uma chave caso ela exista, senão retorna o 
# valor que passei como parâmetro. 

# Exemplo de uma chave que não existe
alunos.get('Fulanito', 'não existe')

# A mensagem poderia ser um valor

'não existe'

In [97]:
# Exemplo de uma chave que existe. Retorna o valor dessa chave
alunos.get('Susan', 'nao existe')

17

In [98]:
# Método setdefualt: Retorna o valor da chave caso ela exista, 
# senão insere a chave e o valor no dicionário e retorna o valor

alunos.setdefault('José', 16)

16

In [99]:
alunos.setdefault('Marcia',21)
alunos

{'Gabriel': 17,
 'José': 16,
 'Julia': 18,
 'Marcia': 21,
 'Maria': 19,
 'Morgana': 19,
 'Rafael': 18,
 'Susan': 17,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

In [100]:
# Método pop: Retorna o valor da chave e remove esta. Se não for encontrada 
# retorna o valor passado por parâmetro
alunos.pop('Susan', 'Se imprimir isto, a chave foi removida')
alunos

{'Gabriel': 17,
 'José': 16,
 'Julia': 18,
 'Marcia': 21,
 'Maria': 19,
 'Morgana': 19,
 'Rafael': 18,
 'disciplinas': ['Matemáticas', 'Inglês', 'Física'],
 'massas': {'José': 70, 'Julia': 60, 'Susan': 55},
 'valores': [18, 10, 20, 5, 11]}

In [101]:
# Método clear: Apaga o conteúdo do dicionário como um todo
alunos.clear()
alunos

{}

##**Estruturas Condicionais**

In [102]:
# Retorno booleano
print(7 > 3)
print(9 <= 4)

True
False

In [103]:
# Se a instrução for verdadeira, executa as instruções seguintes (cuidado com a identação)
if 20 > 5:
    print('A condição é verdadeira')

A condição é verdadeira

##**Instrução ELSE**

A instrução "else" (que significa senão) é executada se a instrução "if" for falsa, caso ela exista.

In [104]:
if 4 > 5:
    print('A condição é verdadeira')
else:
    print('A condição é falsa')

A condição é falsa

## **Operadores lógicos "or" e "and"**

Quando usamos o operador "or" basta uma das condições ser verdadeira para toda a condição ser verdadeira. Quando usamos o operador "and" todas as condições devem ser verdadeiras.

In [105]:
x = -7

if x >= 0 or x <= 10:
    print('Uma ou ambas as condições são verdadeiras')
else:
    print('As duas condições são falsas')

if x >= 0 and x <= 10:
    print('As duas condições são verdadeiras')
else:
    print('Uma ou ambas as condições são falsas')

Uma ou ambas as condições são verdadeiras
Uma ou ambas as condições são falsas

##**Instrução ELIF**

A instrução "elif" é acionada caso a instrucao "if" for falsa. É uma instrução do tipo: "senão se".

In [106]:
valor = 15

if valor <= 0:
    print('O número é negativo ou zero')
elif valor % 2 == 0:
    print('O número é positivo e par')
else:
    print('O número é positivo e impar')

O número é positivo e impar

In [107]:
# Outro exemplo
usuario = "Paquito"
senha = "wakanda_forever"

if usuario == "Paquito" and senha == "wakanda_forever":
    print("Usuário e senha válidas")
elif usuario == "Paquito":
    print("Usuário correto, senha inválida")
elif senha == "wakanda_forever":
  print("Usuário incorreto, senha válida")
else:
    print("Usuário e senha inválidas")

Usuário e senha válidas

##**Instruções IF aninhadas**

In [108]:
x = [7, 1, 4, 3]

if len(x) > 0:
    x.sort()
    if x[len(x) - 1] > 10:
        print("O maior número da lista é maior que 10")
    else:
        print("O maior número da lista é menor ou igual que 10")
else:
    print("Lista vazia")

O maior número da lista é menor ou igual que 10

##**Loops "for"**

Os loops "for" são usados para executar uma instrução ou conjunto de instruções numa coleção. Uma coleção é qualquer objeto que armazena uma sequência de elementos, como: uma lista de números, uma string, uma lista de strings, uma tupla, um dicionário ou um arquivo. Sintaxe:

```
for i in coleção:
  <executa uma ou mais ações>
```

A variável 'i' poderia ser qualquer palavra.

In [109]:
# Loop com lista de números:
for i in [1, 2, 3]:
    print('Elementos: %s' %i)
    print(i + 3)

Elementos: 1
4
Elementos: 2
5
Elementos: 3
6

In [110]:
# Loop com string
for elemento in 'A Matemática é o alfabeto com o qual Deus escreveu o Universo':
    print(elemento, end = "")

A Matemática é o alfabeto com o qual Deus escreveu o Universo

In [111]:
# Loop com lista de strings
planetas = ['Mercurio', 'Venus', 'Terra', 'Marte']
for planeta in planetas:
    print(planeta)

Mercurio
Venus
Terra
Marte

In [112]:
# Loop com dicionário, percorre as chaves do mesmo
pessoas = {'Manuel':23, 'Rosa':34, 'Felipe':30}
for p in pessoas:
    print(p)

Manuel
Rosa
Felipe

In [113]:
# Loops com estruturas condicionais
# Imprimindo apenas números impares, o operador "%" dá o resto
for i in [1, 4, 5, 7, 8]:
    if i % 2 > 0:
        print(i)

1
5
7

In [114]:
# Loop usando a função zip
# Essa função permite percorrer várias listas de forma sequêncial
idades = [10, 15, 20]
nomes = ['Evaluna', 'Sofia', 'Mia']

for i,j in zip(idades, nomes):
    print(i, j)

10 Evaluna
15 Sofia
20 Mia

In [115]:
# Loop aninhado. A cada execuçã do primeiro loop, todo o segundo loop será executado
for i in ['azul', 'vermelho', 'amarelo']:
    print(i)
    for j in ['O', 'B', 'A']:
        print(j)

azul
O
B
A
vermelho
O
B
A
amarelo
O
B
A

##**Instrução "break"**

A instrução break é usada para encerrar um loop. Permite testar, dentro de um loop, se existe uma determinada condição e encerrar o processo caso ela existir.

In [116]:
for elemento in 'Python':
    if elemento == 'o':
        break
    print('elemento:', elemento)  

print("\nContinuando com o programa...")

elemento: P
elemento: y
elemento: t
elemento: h

Continuando com o programa...

##**Instrução "continue"**

A instrução continue encerra a iteração atual e continua com a próxima iteração do loop

In [117]:
for elemento in 'python':
    if elemento == 'o':
        continue
    print('Elemento:', elemento)

Elemento: p
Elemento: y
Elemento: t
Elemento: h
Elemento: n

##**Loops "while"**

A instrução "while" é usada para realizar loops. Permite executar uma instrução ou conjunto de instruções até que uma condição seja satisfeita. Sintaxe:

```
while condição:
  <executa uma ou mais ações>
```

Note que a condição é o primeiro passo a ser executado, se for verdadeira executa o loop até esta ser falsa.

In [118]:
i = 0

while i < 10:
    print(i, end = " ")
    i = i + 1

print('\n\nContinuando com o programa...')

0 1 2 3 4 5 6 7 8 9

Continuando com o programa...

In [119]:
# Exemplo com condição falsa. A bloco de códigos do while será ignorado,
# pelo que o programa pula para a instrução após o loop

i = 11

while i < 10:
    print(i)
    i = i + 1
print('\n\n Continuando o programa...')

 Continuando o programa...

##**"while" com a instrução "else"**

Neste caso, a instrução "else" é executada quando a condição do "while" é falsa, ao invés de pular para o último comando

In [120]:
i = 0

while i < 7:
    print(i)
    i = i + 1
else:
    print('Número é maior ou igual a 7')

print('\nContinuando o programa...')

0
1
2
3
4
5
6
Número é maior ou igual a 7

Continuando o programa...

##**"while", "break" e "continue"**

In [121]:
# "while" com a instrução "break"
i = 10

while i > 0:
    if i == 5:
        break
    print(i)
    i = i - 1

print('\nContinuando com o programa...')

10
9
8
7
6

Continuando com o programa...

In [122]:
# "while" com a instrução "continue"
i = 0

while i < 10:
    i = i + 1
    if i - 1 == 5:
        continue
    print(i - 1)

print('\nContinuando com o programa...')

0
1
2
3
4
6
7
8
9

Continuando com o programa...

##**Loops Infinitos**

Cuidado! Os loops infinitos acontecem caso a condição do "while" é sempre verdadeira.

In [123]:
# O seguinte código imprime um valor infinitamente porque a condição nunca será 
# falsa, até que a execução do programa seja matado

#i = 0

#while i < 10:
#    print(i)

## **Funções**

In [124]:
# Função que não recebe parâmetro
def medidas():
  return 77, 1.83

peso, altura = medidas()

print(peso, altura)

77 1.83

In [125]:
# Função com parâmetros obrigatórios
def pagamento_semanal(valor_por_hora, num_horas):
  return valor_por_hora * num_horas

print(pagamento_semanal(100, 36))

3600

In [126]:
# Funções com parâmetros opcionais e obrigatórios. Um parâmetro opcional é 
# aquele a que está atribuido um valor padrão, se a função for chamada sem 
# passar um valor para o parâmetro opcional o sistema vai considerar o valor 
# padrão. Pode ter cero ou mais parâmetros obrigatórios e depois vários 
# parâmetros opcionais, a regra é que os parâmetros opcionais tem que ficar no
# fim da lista

def pagamento_semanal(valor_por_hora, num_horas = 40):
  conta = valor_por_hora * num_horas
  return conta

print(pagamento_semanal(200))
print(pagamento_semanal(200, 36))

def calcula1(x, y = 10, z = 20):
  return x + y * z

print(calcula1(7, 2))
print(calcula1(7, z = 1))

def calcula2(y = 2, z = 3):
  print (y, z)
  return y ** z

print(calcula2())

8000
7200
47
17
2 3
8

## **Asserção de Invariantes**

O assertion é colocado no código para garantir que determinados valores façam sentido e assim o programa esteja num estado consistente

In [127]:
def pagamento_semanal(valor_por_hora, num_horas = 40):
  # Expressão que queremos verificar
  # Não faz sentido que o pagamento semanal seja negativo
  assert valor_por_hora >= 0 and num_horas > 0
  return valor_por_hora * num_horas

print(pagamento_semanal(100, 20))

#print(pagamento_semanal(100, -20))
# AssertionError, a expressão booleana de num_horas retornou falso

2000

## **Módulos**

Os módulos servem para organizar melhor nosso código. São arquivos com extensão .py, compostos por funções (definições) e podem ter outros comandos(statements). Para usar as funções que estão dentro de um módulo num outro módulo ou programa, usamos o comando `import` seguido do nome sem a extensão .py (1). Os módulos podem se tornar uma entrada para o interpretador Python e assim ele é chamado de script (2). Veja os arquivos fibonacci.py e script.py no github.

Toda vez que você está executando determinado código, o nome do módulo que você está executando fica disponível numa variável `__name__`. Como exemplo, consideremos o arquivo fibonacci.py, que contém o comando `print(__name__)`:

1.   Quando é importado dentro de um outro código ele tem o nome fibonacci, que é o nome do módulo (tem que estar no mesmo diretório para enxergar o arquivo)

`>>> import fibonacci`

`fibonacci`

2.   No interpretador, quando chama ele como script, o nome do módulo passa a ser `__name__`

`$ python fibonacci.py 5`

`__name__`

##**Manipulando Arquivos**

A função nativa open() abre um arquivo e o retorna como um objeto do tipo arquivo. O conteúdo deste pode ser colocado dentro de uma variável. O primeiro parâmetro que a função recebe é a rota ao arquivo, e o segundo é o modo de abertura do arquivo, os principais são:

*   "r" (read, modo padrão): Abre um arquivo para leitura, dá erro se o arquivo não existe
*   "w" (write): Abre um arquivo para escrita, cria o arquivo se ele não existir
*   "a" (append): Abre um arquivo para anexar, cria o arquivo se ele não existir 

Sempre deve-se fechar os arquivos; em alguns casos, devido ao buffer, as alterações feitas em um arquivo podem não aparecer até que você feche o arquivo. O método close() fecha um arquivo aberto.

In [128]:
# Iremos usar o arquivo "automobile.csv", da base de dados gratuita: 
# https://www.kaggle.com/toramky/automobile-dataset

# No caso de seu arquivo "automobile.csv" for colocado no Google Drive, é 
# preciso usar a seguinte livraria para usá-lo no Google Colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:
file = open('drive/My Drive/automobile.csv', 'r')
type(file)

# A variável "file" é um objeto do tipo arquivo, e como objeto existem métodos 
# disponíveis para trabalhar com este, os quais são mostrados digitando:
# "file. + tecla tab"

_io.TextIOWrapper

In [130]:
# Método readlines: Lê todas as linhas do arquivo e retorna uma lista, que pode
# ser armazenada em uma variável

lista = file.readlines()
print(lista)
print(type(lista))

['symboling,normalized-losses,make,fuel-type,aspiration\n', '3,?,alfa-romero,gas,std\n', '3,?,alfa-romero,gas,std\n', '1,?,alfa-romero,gas,std\n', '2,164,audi,gas,std\n', '2,164,audi,gas,std\n', '2,?,audi,gas,std\n', '1,158,audi,gas,std\n', '1,?,audi,gas,std\n', '1,158,audi,gas,turbo\n', '0,0,0,0,0\n', '2,192,bmw,gas,std\n', '0,192,bmw,gas,std\n', '0,188,bmw,gas,std\n', '0,188,bmw,gas,std\n', '1,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '2,121,chevrolet,gas,std\n', '1,98,chevrolet,gas,std\n', '0,81,chevrolet,gas,std\n', '1,118,dodge,gas,std\n', '1,118,dodge,gas,std\n', '1,118,dodge,gas,turbo\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,turbo\n', '-1,110,dodge,gas,std\n', '3,145,dodge,gas,turbo\n', '2,137,honda,gas,std\n', '2,137,honda,gas,std\n', '1,101,honda,gas,std\n', '1,101,honda,gas,std\n', '1,101,honda,gas,std\n', '0,110,honda,gas,std\n', '0,78,honda,gas,std\n', '0,106,honda,gas,std\n', '0,106,honda,gas,std\n', '0,85,honda,gas,std\n', '0,85,honda,gas,std\n', '0,85,honda,gas,std\n', '1,107,honda,gas,std\n', '0,?,isuzu,gas,std\n', '0,0,0,0,0\n', '0,0,0,0,0\n', '2,?,isuzu,gas,std\n', '0,145,jaguar,gas,std\n', '0,?,jaguar,gas,std\n', '0,?,jaguar,gas,std\n', '1,104,mazda,gas,std\n', '1,104,mazda,gas,std\n', '1,104,mazda,gas,std\n', '1,113,mazda,gas,std\n', '1,113,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '1,129,mazda,gas,std\n', '0,115,mazda,gas,std\n', '1,129,mazda,gas,std\n', '0,115,mazda,gas,std\n', '0,?,mazda,diesel,std\n', '0,115,mazda,gas,std\n', '0,118,mazda,gas,std\n', '0,?,mazda,diesel,std\n', '-1,93,mercedes-benz,diesel,turbo\n', '-1,93,mercedes-benz,diesel,turbo\n', '0,93,mercedes-benz,diesel,turbo\n', '-1,93,mercedes-benz,diesel,turbo\n', '-1,?,mercedes-benz,gas,std\n', '3,142,mercedes-benz,gas,std\n', '0,?,mercedes-benz,gas,std\n', '1,?,mercedes-benz,gas,std\n', '1,?,mercury,gas,turbo\n', '2,161,mitsubishi,gas,std\n', '2,161,mitsubishi,gas,std\n', '2,161,mitsubishi,gas,std\n', '1,161,mitsubishi,gas,turbo\n', '3,153,mitsubishi,gas,turbo\n', '3,153,mitsubishi,gas,std\n', '3,?,mitsubishi,gas,turbo\n', '3,?,mitsubishi,gas,turbo\n', '3,?,mitsubishi,gas,turbo\n', '1,125,mitsubishi,gas,std\n', '1,125,mitsubishi,gas,std\n', '1,125,mitsubishi,gas,turbo\n', '-1,137,mitsubishi,gas,std\n', '1,128,nissan,gas,std\n', '1,128,nissan,diesel,std\n', '1,128,nissan,gas,std\n', '1,122,nissan,gas,std\n', '1,103,nissan,gas,std\n', '1,128,nissan,gas,std\n', '1,128,nissan,gas,std\n', '1,122,nissan,gas,std\n', '1,103,nissan,gas,std\n', '2,168,nissan,gas,std\n', '0,106,nissan,gas,std\n', '0,106,nissan,gas,std\n', '0,128,nissan,gas,std\n', '0,108,nissan,gas,std\n', '0,108,nissan,gas,std\n', '3,194,nissan,gas,std\n', '3,194,nissan,gas,turbo\n', '1,231,nissan,gas,std\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,?,peugot,gas,std\n', '0,?,peugot,diesel,turbo\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,?,peugot,gas,std\n', '0,?,peugot,diesel,turbo\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,161,peugot,gas,turbo\n', '1,119,plymouth,gas,std\n', '1,119,plymouth,gas,turbo\n', '1,154,plymouth,gas,std\n', '1,154,plymouth,gas,std\n', '1,154,plymouth,gas,std\n', '-1,74,plymouth,gas,std\n', '3,?,plymouth,gas,turbo\n', '3,186,porsche,gas,std\n', '3,?,porsche,gas,std\n', '3,?,porsche,gas,std\n', '3,?,porsche,gas,std\n', '0,0,0,0,0\n', '0,?,renault,gas,std\n', '2,?,renault,gas,std\n', '3,150,saab,gas,std\n', '2,104,saab,gas,std\n', '3,150,saab,gas,std\n', '2,104,saab,gas,std\n', '3,150,saab,gas,turbo\n', '2,104,saab,gas,turbo\n', '2,83,subaru,gas,std\n', '2,83,subaru,gas,std\n', '2,83,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,turbo\n', '0,89,subaru,gas,std\n', '0,89,subaru,gas,std\n', '0,85,subaru,gas,std\n', '0,85,subaru,gas,turbo\n', '1,87,toyota,gas,std\n', '1,87,toyota,gas,std\n', '1,74,toyota,gas,std\n', '0,77,toyota,gas,std\n', '0,81,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,diesel,std\n', '0,91,toyota,diesel,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,diesel,turbo\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '3,197,toyota,gas,std\n', '3,197,toyota,gas,std\n', '-1,90,toyota,gas,std\n', '-1,?,toyota,gas,std\n', '2,122,volkswagen,diesel,std\n', '2,122,volkswagen,gas,std\n', '2,94,volkswagen,diesel,std\n', '2,94,volkswagen,gas,std\n', '2,94,volkswagen,gas,std\n', '2,94,volkswagen,diesel,turbo\n', '2,94,volkswagen,gas,std\n', '3,?,volkswagen,gas,std\n', '3,256,volkswagen,gas,std\n', '0,?,volkswagen,gas,std\n', '0,?,volkswagen,diesel,turbo\n', '0,?,volkswagen,gas,std\n', '-2,103,volvo,gas,std\n', '-1,74,volvo,gas,std\n', '-2,103,volvo,gas,std\n', '-1,74,volvo,gas,std\n', '-2,103,volvo,gas,turbo\n', '-1,74,volvo,gas,turbo\n', '-1,95,volvo,gas,std\n', '-1,95,volvo,gas,turbo\n', '-1,95,volvo,gas,std\n', '-1,95,volvo,diesel,turbo\n', '-1,95,volvo,gas,turbo\n']
<class 'list'>

In [131]:
# Iteração no arquivo, lendo cada linha através de um loop

for i in lista:
    print(i)

symboling,normalized-losses,make,fuel-type,aspiration

3,?,alfa-romero,gas,std

3,?,alfa-romero,gas,std

1,?,alfa-romero,gas,std

2,164,audi,gas,std

2,164,audi,gas,std

2,?,audi,gas,std

1,158,audi,gas,std

1,?,audi,gas,std

1,158,audi,gas,turbo

0,0,0,0,0

2,192,bmw,gas,std

0,192,bmw,gas,std

0,188,bmw,gas,std

0,188,bmw,gas,std

1,?,bmw,gas,std

0,?,bmw,gas,std

0,?,bmw,gas,std

0,?,bmw,gas,std

2,121,chevrolet,gas,std

1,98,chevrolet,gas,std

0,81,chevrolet,gas,std

1,118,dodge,gas,std

1,118,dodge,gas,std

1,118,dodge,gas,turbo

1,148,dodge,gas,std

1,148,dodge,gas,std

1,148,dodge,gas,std

1,148,dodge,gas,turbo

-1,110,dodge,gas,std

3,145,dodge,gas,turbo

2,137,honda,gas,std

2,137,honda,gas,std

1,101,honda,gas,std

1,101,honda,gas,std

1,101,honda,gas,std

0,110,honda,gas,std

0,78,honda,gas,std

0,106,honda,gas,std

0,106,honda,gas,std

0,85,honda,gas,std

0,85,honda,gas,std

0,85,honda,gas,std

1,107,honda,gas,std

0,?,isuzu,gas,std

0,0,0,0,0

0,0,0,0,0

2,?,isuzu,gas,std

0,145,jaguar,gas,std

0,?,jaguar,gas,std

0,?,jaguar,gas,std

1,104,mazda,gas,std

1,104,mazda,gas,std

1,104,mazda,gas,std

1,113,mazda,gas,std

1,113,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

1,129,mazda,gas,std

0,115,mazda,gas,std

1,129,mazda,gas,std

0,115,mazda,gas,std

0,?,mazda,diesel,std

0,115,mazda,gas,std

0,118,mazda,gas,std

0,?,mazda,diesel,std

-1,93,mercedes-benz,diesel,turbo

-1,93,mercedes-benz,diesel,turbo

0,93,mercedes-benz,diesel,turbo

-1,93,mercedes-benz,diesel,turbo

-1,?,mercedes-benz,gas,std

3,142,mercedes-benz,gas,std

0,?,mercedes-benz,gas,std

1,?,mercedes-benz,gas,std

1,?,mercury,gas,turbo

2,161,mitsubishi,gas,std

2,161,mitsubishi,gas,std

2,161,mitsubishi,gas,std

1,161,mitsubishi,gas,turbo

3,153,mitsubishi,gas,turbo

3,153,mitsubishi,gas,std

3,?,mitsubishi,gas,turbo

3,?,mitsubishi,gas,turbo

3,?,mitsubishi,gas,turbo

1,125,mitsubishi,gas,std

1,125,mitsubishi,gas,std

1,125,mitsubishi,gas,turbo

-1,137,mitsubishi,gas,std

1,128,nissan,gas,std

1,128,nissan,diesel,std

1,128,nissan,gas,std

1,122,nissan,gas,std

1,103,nissan,gas,std

1,128,nissan,gas,std

1,128,nissan,gas,std

1,122,nissan,gas,std

1,103,nissan,gas,std

2,168,nissan,gas,std

0,106,nissan,gas,std

0,106,nissan,gas,std

0,128,nissan,gas,std

0,108,nissan,gas,std

0,108,nissan,gas,std

3,194,nissan,gas,std

3,194,nissan,gas,turbo

1,231,nissan,gas,std

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,?,peugot,gas,std

0,?,peugot,diesel,turbo

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,?,peugot,gas,std

0,?,peugot,diesel,turbo

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,161,peugot,gas,turbo

1,119,plymouth,gas,std

1,119,plymouth,gas,turbo

1,154,plymouth,gas,std

1,154,plymouth,gas,std

1,154,plymouth,gas,std

-1,74,plymouth,gas,std

3,?,plymouth,gas,turbo

3,186,porsche,gas,std

3,?,porsche,gas,std

3,?,porsche,gas,std

3,?,porsche,gas,std

0,0,0,0,0

0,?,renault,gas,std

2,?,renault,gas,std

3,150,saab,gas,std

2,104,saab,gas,std

3,150,saab,gas,std

2,104,saab,gas,std

3,150,saab,gas,turbo

2,104,saab,gas,turbo

2,83,subaru,gas,std

2,83,subaru,gas,std

2,83,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,turbo

0,89,subaru,gas,std

0,89,subaru,gas,std

0,85,subaru,gas,std

0,85,subaru,gas,turbo

1,87,toyota,gas,std

1,87,toyota,gas,std

1,74,toyota,gas,std

0,77,toyota,gas,std

0,81,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,diesel,std

0,91,toyota,diesel,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

-1,65,toyota,gas,std

-1,65,toyota,diesel,turbo

-1,65,toyota,gas,std

-1,65,toyota,gas,std

-1,65,toyota,gas,std

3,197,toyota,gas,std

3,197,toyota,gas,std

-1,90,toyota,gas,std

-1,?,toyota,gas,std

2,122,volkswagen,diesel,std

2,122,volkswagen,gas,std

2,94,volkswagen,diesel,std

2,94,volkswagen,gas,std

2,94,volkswagen,gas,std

2,94,volkswagen,diesel,turbo

2,94,volkswagen,gas,std

3,?,volkswagen,gas,std

3,256,volkswagen,gas,std

0,?,volkswagen,gas,std

0,?,volkswagen,diesel,turbo

0,?,volkswagen,gas,std

-2,103,volvo,gas,std

-1,74,volvo,gas,std

-2,103,volvo,gas,std

-1,74,volvo,gas,std

-2,103,volvo,gas,turbo

-1,74,volvo,gas,turbo

-1,95,volvo,gas,std

-1,95,volvo,gas,turbo

-1,95,volvo,gas,std

-1,95,volvo,diesel,turbo

-1,95,volvo,gas,turbo

In [132]:
# Método tell: Retorna a quantidade de caracteres que contém o arquivo

print(file.tell())

4449

In [133]:
# Método read: Lê o conteúdo do arquivo inteiro e o imprime na tela

file = open('drive/My Drive/automobile.csv')
print(file.read())

symboling,normalized-losses,make,fuel-type,aspiration
3,?,alfa-romero,gas,std
3,?,alfa-romero,gas,std
1,?,alfa-romero,gas,std
2,164,audi,gas,std
2,164,audi,gas,std
2,?,audi,gas,std
1,158,audi,gas,std
1,?,audi,gas,std
1,158,audi,gas,turbo
0,0,0,0,0
2,192,bmw,gas,std
0,192,bmw,gas,std
0,188,bmw,gas,std
0,188,bmw,gas,std
1,?,bmw,gas,std
0,?,bmw,gas,std
0,?,bmw,gas,std
0,?,bmw,gas,std
2,121,chevrolet,gas,std
1,98,chevrolet,gas,std
0,81,chevrolet,gas,std
1,118,dodge,gas,std
1,118,dodge,gas,std
1,118,dodge,gas,turbo
1,148,dodge,gas,std
1,148,dodge,gas,std
1,148,dodge,gas,std
1,148,dodge,gas,turbo
-1,110,dodge,gas,std
3,145,dodge,gas,turbo
2,137,honda,gas,std
2,137,honda,gas,std
1,101,honda,gas,std
1,101,honda,gas,std
1,101,honda,gas,std
0,110,honda,gas,std
0,78,honda,gas,std
0,106,honda,gas,std
0,106,honda,gas,std
0,85,honda,gas,std
0,85,honda,gas,std
0,85,honda,gas,std
1,107,honda,gas,std
0,?,isuzu,gas,std
0,0,0,0,0
0,0,0,0,0
2,?,isuzu,gas,std
0,145,jaguar,gas,std
0,?,jaguar,gas,std
0,?,jaguar,gas,std
1,104,mazda,gas,std
1,104,mazda,gas,std
1,104,mazda,gas,std
1,113,mazda,gas,std
1,113,mazda,gas,std
3,150,mazda,gas,std
3,150,mazda,gas,std
3,150,mazda,gas,std
3,150,mazda,gas,std
1,129,mazda,gas,std
0,115,mazda,gas,std
1,129,mazda,gas,std
0,115,mazda,gas,std
0,?,mazda,diesel,std
0,115,mazda,gas,std
0,118,mazda,gas,std
0,?,mazda,diesel,std
-1,93,mercedes-benz,diesel,turbo
-1,93,mercedes-benz,diesel,turbo
0,93,mercedes-benz,diesel,turbo
-1,93,mercedes-benz,diesel,turbo
-1,?,mercedes-benz,gas,std
3,142,mercedes-benz,gas,std
0,?,mercedes-benz,gas,std
1,?,mercedes-benz,gas,std
1,?,mercury,gas,turbo
2,161,mitsubishi,gas,std
2,161,mitsubishi,gas,std
2,161,mitsubishi,gas,std
1,161,mitsubishi,gas,turbo
3,153,mitsubishi,gas,turbo
3,153,mitsubishi,gas,std
3,?,mitsubishi,gas,turbo
3,?,mitsubishi,gas,turbo
3,?,mitsubishi,gas,turbo
1,125,mitsubishi,gas,std
1,125,mitsubishi,gas,std
1,125,mitsubishi,gas,turbo
-1,137,mitsubishi,gas,std
1,128,nissan,gas,std
1,128,nissan,diesel,std
1,128,nissan,gas,std
1,122,nissan,gas,std
1,103,nissan,gas,std
1,128,nissan,gas,std
1,128,nissan,gas,std
1,122,nissan,gas,std
1,103,nissan,gas,std
2,168,nissan,gas,std
0,106,nissan,gas,std
0,106,nissan,gas,std
0,128,nissan,gas,std
0,108,nissan,gas,std
0,108,nissan,gas,std
3,194,nissan,gas,std
3,194,nissan,gas,turbo
1,231,nissan,gas,std
0,161,peugot,gas,std
0,161,peugot,diesel,turbo
0,?,peugot,gas,std
0,?,peugot,diesel,turbo
0,161,peugot,gas,std
0,161,peugot,diesel,turbo
0,?,peugot,gas,std
0,?,peugot,diesel,turbo
0,161,peugot,gas,std
0,161,peugot,diesel,turbo
0,161,peugot,gas,turbo
1,119,plymouth,gas,std
1,119,plymouth,gas,turbo
1,154,plymouth,gas,std
1,154,plymouth,gas,std
1,154,plymouth,gas,std
-1,74,plymouth,gas,std
3,?,plymouth,gas,turbo
3,186,porsche,gas,std
3,?,porsche,gas,std
3,?,porsche,gas,std
3,?,porsche,gas,std
0,0,0,0,0
0,?,renault,gas,std
2,?,renault,gas,std
3,150,saab,gas,std
2,104,saab,gas,std
3,150,saab,gas,std
2,104,saab,gas,std
3,150,saab,gas,turbo
2,104,saab,gas,turbo
2,83,subaru,gas,std
2,83,subaru,gas,std
2,83,subaru,gas,std
0,102,subaru,gas,std
0,102,subaru,gas,std
0,102,subaru,gas,std
0,102,subaru,gas,std
0,102,subaru,gas,turbo
0,89,subaru,gas,std
0,89,subaru,gas,std
0,85,subaru,gas,std
0,85,subaru,gas,turbo
1,87,toyota,gas,std
1,87,toyota,gas,std
1,74,toyota,gas,std
0,77,toyota,gas,std
0,81,toyota,gas,std
0,91,toyota,gas,std
0,91,toyota,gas,std
0,91,toyota,gas,std
0,91,toyota,diesel,std
0,91,toyota,diesel,std
0,91,toyota,gas,std
0,91,toyota,gas,std
0,91,toyota,gas,std
1,168,toyota,gas,std
1,168,toyota,gas,std
1,168,toyota,gas,std
1,168,toyota,gas,std
2,134,toyota,gas,std
2,134,toyota,gas,std
2,134,toyota,gas,std
2,134,toyota,gas,std
2,134,toyota,gas,std
2,134,toyota,gas,std
-1,65,toyota,gas,std
-1,65,toyota,diesel,turbo
-1,65,toyota,gas,std
-1,65,toyota,gas,std
-1,65,toyota,gas,std
3,197,toyota,gas,std
3,197,toyota,gas,std
-1,90,toyota,gas,std
-1,?,toyota,gas,std
2,122,volkswagen,diesel,std
2,122,volkswagen,gas,std
2,94,volkswagen,diesel,std
2,94,volkswagen,gas,std
2,94,volkswagen,gas,std
2,94,volkswagen,diesel,turbo
2,94,volkswagen,gas,std
3,?,volkswagen,gas,std
3,256,volkswagen,gas,std
0,?,volkswagen,gas,std
0,?,volkswagen,diesel,turbo
0,?,volkswagen,gas,std
-2,103,volvo,gas,std
-1,74,volvo,gas,std
-2,103,volvo,gas,std
-1,74,volvo,gas,std
-2,103,volvo,gas,turbo
-1,74,volvo,gas,turbo
-1,95,volvo,gas,std
-1,95,volvo,gas,turbo
-1,95,volvo,gas,std
-1,95,volvo,diesel,turbo
-1,95,volvo,gas,turbo

##**Iterando sobre um arquivo**

Não necessariamente temos que usar o método readlines para ler linha a linha um arquivo. O objeto do tipo arquivo é um objeto do tipo iterator (sequêncial), ou seja, podemos ler linha a linha esse arquivo usando um loop. Isto ajuda no uso de memória em arquivos grandes. 

No método readlines, todo o conteúdo do arquivo é colocado dentro de uma lista e assim todo o conteúdo do objeto é colocado em memória. Desta outra maneira usamos menos memória, conseguimos ler linha a linha de forma incremental, enchendo a memória conforme se percorre as linhas.

In [134]:
file = open('drive/My Drive/automobile.csv', 'r')
for linha in file:
    print(linha)

symboling,normalized-losses,make,fuel-type,aspiration

3,?,alfa-romero,gas,std

3,?,alfa-romero,gas,std

1,?,alfa-romero,gas,std

2,164,audi,gas,std

2,164,audi,gas,std

2,?,audi,gas,std

1,158,audi,gas,std

1,?,audi,gas,std

1,158,audi,gas,turbo

0,0,0,0,0

2,192,bmw,gas,std

0,192,bmw,gas,std

0,188,bmw,gas,std

0,188,bmw,gas,std

1,?,bmw,gas,std

0,?,bmw,gas,std

0,?,bmw,gas,std

0,?,bmw,gas,std

2,121,chevrolet,gas,std

1,98,chevrolet,gas,std

0,81,chevrolet,gas,std

1,118,dodge,gas,std

1,118,dodge,gas,std

1,118,dodge,gas,turbo

1,148,dodge,gas,std

1,148,dodge,gas,std

1,148,dodge,gas,std

1,148,dodge,gas,turbo

-1,110,dodge,gas,std

3,145,dodge,gas,turbo

2,137,honda,gas,std

2,137,honda,gas,std

1,101,honda,gas,std

1,101,honda,gas,std

1,101,honda,gas,std

0,110,honda,gas,std

0,78,honda,gas,std

0,106,honda,gas,std

0,106,honda,gas,std

0,85,honda,gas,std

0,85,honda,gas,std

0,85,honda,gas,std

1,107,honda,gas,std

0,?,isuzu,gas,std

0,0,0,0,0

0,0,0,0,0

2,?,isuzu,gas,std

0,145,jaguar,gas,std

0,?,jaguar,gas,std

0,?,jaguar,gas,std

1,104,mazda,gas,std

1,104,mazda,gas,std

1,104,mazda,gas,std

1,113,mazda,gas,std

1,113,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

3,150,mazda,gas,std

1,129,mazda,gas,std

0,115,mazda,gas,std

1,129,mazda,gas,std

0,115,mazda,gas,std

0,?,mazda,diesel,std

0,115,mazda,gas,std

0,118,mazda,gas,std

0,?,mazda,diesel,std

-1,93,mercedes-benz,diesel,turbo

-1,93,mercedes-benz,diesel,turbo

0,93,mercedes-benz,diesel,turbo

-1,93,mercedes-benz,diesel,turbo

-1,?,mercedes-benz,gas,std

3,142,mercedes-benz,gas,std

0,?,mercedes-benz,gas,std

1,?,mercedes-benz,gas,std

1,?,mercury,gas,turbo

2,161,mitsubishi,gas,std

2,161,mitsubishi,gas,std

2,161,mitsubishi,gas,std

1,161,mitsubishi,gas,turbo

3,153,mitsubishi,gas,turbo

3,153,mitsubishi,gas,std

3,?,mitsubishi,gas,turbo

3,?,mitsubishi,gas,turbo

3,?,mitsubishi,gas,turbo

1,125,mitsubishi,gas,std

1,125,mitsubishi,gas,std

1,125,mitsubishi,gas,turbo

-1,137,mitsubishi,gas,std

1,128,nissan,gas,std

1,128,nissan,diesel,std

1,128,nissan,gas,std

1,122,nissan,gas,std

1,103,nissan,gas,std

1,128,nissan,gas,std

1,128,nissan,gas,std

1,122,nissan,gas,std

1,103,nissan,gas,std

2,168,nissan,gas,std

0,106,nissan,gas,std

0,106,nissan,gas,std

0,128,nissan,gas,std

0,108,nissan,gas,std

0,108,nissan,gas,std

3,194,nissan,gas,std

3,194,nissan,gas,turbo

1,231,nissan,gas,std

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,?,peugot,gas,std

0,?,peugot,diesel,turbo

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,?,peugot,gas,std

0,?,peugot,diesel,turbo

0,161,peugot,gas,std

0,161,peugot,diesel,turbo

0,161,peugot,gas,turbo

1,119,plymouth,gas,std

1,119,plymouth,gas,turbo

1,154,plymouth,gas,std

1,154,plymouth,gas,std

1,154,plymouth,gas,std

-1,74,plymouth,gas,std

3,?,plymouth,gas,turbo

3,186,porsche,gas,std

3,?,porsche,gas,std

3,?,porsche,gas,std

3,?,porsche,gas,std

0,0,0,0,0

0,?,renault,gas,std

2,?,renault,gas,std

3,150,saab,gas,std

2,104,saab,gas,std

3,150,saab,gas,std

2,104,saab,gas,std

3,150,saab,gas,turbo

2,104,saab,gas,turbo

2,83,subaru,gas,std

2,83,subaru,gas,std

2,83,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,std

0,102,subaru,gas,turbo

0,89,subaru,gas,std

0,89,subaru,gas,std

0,85,subaru,gas,std

0,85,subaru,gas,turbo

1,87,toyota,gas,std

1,87,toyota,gas,std

1,74,toyota,gas,std

0,77,toyota,gas,std

0,81,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,diesel,std

0,91,toyota,diesel,std

0,91,toyota,gas,std

0,91,toyota,gas,std

0,91,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

1,168,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

2,134,toyota,gas,std

-1,65,toyota,gas,std

-1,65,toyota,diesel,turbo

-1,65,toyota,gas,std

-1,65,toyota,gas,std

-1,65,toyota,gas,std

3,197,toyota,gas,std

3,197,toyota,gas,std

-1,90,toyota,gas,std

-1,?,toyota,gas,std

2,122,volkswagen,diesel,std

2,122,volkswagen,gas,std

2,94,volkswagen,diesel,std

2,94,volkswagen,gas,std

2,94,volkswagen,gas,std

2,94,volkswagen,diesel,turbo

2,94,volkswagen,gas,std

3,?,volkswagen,gas,std

3,256,volkswagen,gas,std

0,?,volkswagen,gas,std

0,?,volkswagen,diesel,turbo

0,?,volkswagen,gas,std

-2,103,volvo,gas,std

-1,74,volvo,gas,std

-2,103,volvo,gas,std

-1,74,volvo,gas,std

-2,103,volvo,gas,turbo

-1,74,volvo,gas,turbo

-1,95,volvo,gas,std

-1,95,volvo,gas,turbo

-1,95,volvo,gas,std

-1,95,volvo,diesel,turbo

-1,95,volvo,gas,turbo

##**Escrevendo em Arquivos**

In [135]:
# Abrimos o arquivo em modo de escrita e informamos o nome do arquivo que iremos
# gerar

file2 = open('frases.txt', 'w')

In [136]:
# Método write: Escreve um string ao arquivo

file2.write('Se nao existe vida fora da Terra, entao o universo é um grande desperdício de espaço')
file2.write('Nós somos feitos do pó das estrelas')

# Ele mostra um código de saída após executar

35

In [137]:
# Fechamos o arquivo para que as alterações persistam no disco

file2.close()

In [138]:
# Tentar ler o arquivo agora daria um erro já que não é permitido a operação de
# leitura em um arquivo fechado. Mesmo sem fechar, não é permitido ler um 
# arquivo aberto em modo escrita

#file2.read()

In [139]:
# Abrimos o arquivo criado em modo de leitura para ver como ficou o conteúdo

file2 = open('frases.txt','r')

In [140]:
# Usamos o método readlines() para ler linha a linha o arquivo

file2.readlines()

# Por padrão, os strings passados como parâmetro no método write() são 
# concatenados

['Se nao existe vida fora da Terra, entao o universo é um grande desperdício de espaçoNós somos feitos do pó das estrelas']

##**Acrescentando Arquivos**

In [141]:
# O modo de abertura do tipo acrescentar permite adicionar linhas no final de um
# arquivo

file2 = open('frases.txt', 'a')
file2.write('Última linha do arquivo')
file2.close()

file2 = open('frases.txt','r')
file2.readlines()

['Se nao existe vida fora da Terra, entao o universo é um grande desperdício de espaçoNós somos feitos do pó das estrelasÚltima linha do arquivo']

In [142]:
# Se abrir o arquivo de novo em modo escrita o conteúdo será sobreescrito

##**Método writelines**

In [143]:
# Método writelines: Escreve uma sequência de strings no arquivo

lista = ['Primeira linha', 'Segunda linha', 'Terceira linha']

file = open('frases.txt', 'w')
file.writelines(lista)
file.close()

file = open('frases.txt', 'r')
file.readlines()

['Primeira linhaSegunda linhaTerceira linha']

In [144]:
# O método writelines permite escrever em um arquivo de forma mais 
# performática, sem ter que percorrer uma lista, por exemplo:

#for i in lista:
#    file.write(i)

##**Instrução "with"**

A instrução "with" permite abrir um arquivo (como leitura, escrita, etc.), colocar o conteúdo dentro de uma viariável e executar alguma operação. Após isso o arquivo é fechado automaticamante (não precisa mais usar a intrução close).

In [145]:
with open('frases.txt') as file:
    print(file.read())

# Abrimos o arquivo, colocamos na variável file2 e fizemos a operação de leitura
# do conteúdo do arquivo como um todo

Primeira linhaSegunda linhaTerceira linha

In [146]:
# Verificando que o arquivo foi fechado. Python daria a mensagem de que o 
# arquivo está fechado

#file.read()

In [147]:
# Outro exemplo:

with open('drive/My Drive/automobile.csv') as file2:
    linhas = file2.readlines()

# Abrimos o arquivo "automobile.csv", colocamos o conteúdo dentro de "file2" 
# (objeto do tipo arquivo), fizemos com que a variável "data" (objeto do tipo 
# lista) receba as linhas do arquivo e fechamos o mesmo implicitamente

In [148]:
# Imprimimos a lista de conteúdo das linhas do arquivo

print(linhas)

['symboling,normalized-losses,make,fuel-type,aspiration\n', '3,?,alfa-romero,gas,std\n', '3,?,alfa-romero,gas,std\n', '1,?,alfa-romero,gas,std\n', '2,164,audi,gas,std\n', '2,164,audi,gas,std\n', '2,?,audi,gas,std\n', '1,158,audi,gas,std\n', '1,?,audi,gas,std\n', '1,158,audi,gas,turbo\n', '0,0,0,0,0\n', '2,192,bmw,gas,std\n', '0,192,bmw,gas,std\n', '0,188,bmw,gas,std\n', '0,188,bmw,gas,std\n', '1,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '0,?,bmw,gas,std\n', '2,121,chevrolet,gas,std\n', '1,98,chevrolet,gas,std\n', '0,81,chevrolet,gas,std\n', '1,118,dodge,gas,std\n', '1,118,dodge,gas,std\n', '1,118,dodge,gas,turbo\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,std\n', '1,148,dodge,gas,turbo\n', '-1,110,dodge,gas,std\n', '3,145,dodge,gas,turbo\n', '2,137,honda,gas,std\n', '2,137,honda,gas,std\n', '1,101,honda,gas,std\n', '1,101,honda,gas,std\n', '1,101,honda,gas,std\n', '0,110,honda,gas,std\n', '0,78,honda,gas,std\n', '0,106,honda,gas,std\n', '0,106,honda,gas,std\n', '0,85,honda,gas,std\n', '0,85,honda,gas,std\n', '0,85,honda,gas,std\n', '1,107,honda,gas,std\n', '0,?,isuzu,gas,std\n', '0,0,0,0,0\n', '0,0,0,0,0\n', '2,?,isuzu,gas,std\n', '0,145,jaguar,gas,std\n', '0,?,jaguar,gas,std\n', '0,?,jaguar,gas,std\n', '1,104,mazda,gas,std\n', '1,104,mazda,gas,std\n', '1,104,mazda,gas,std\n', '1,113,mazda,gas,std\n', '1,113,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '3,150,mazda,gas,std\n', '1,129,mazda,gas,std\n', '0,115,mazda,gas,std\n', '1,129,mazda,gas,std\n', '0,115,mazda,gas,std\n', '0,?,mazda,diesel,std\n', '0,115,mazda,gas,std\n', '0,118,mazda,gas,std\n', '0,?,mazda,diesel,std\n', '-1,93,mercedes-benz,diesel,turbo\n', '-1,93,mercedes-benz,diesel,turbo\n', '0,93,mercedes-benz,diesel,turbo\n', '-1,93,mercedes-benz,diesel,turbo\n', '-1,?,mercedes-benz,gas,std\n', '3,142,mercedes-benz,gas,std\n', '0,?,mercedes-benz,gas,std\n', '1,?,mercedes-benz,gas,std\n', '1,?,mercury,gas,turbo\n', '2,161,mitsubishi,gas,std\n', '2,161,mitsubishi,gas,std\n', '2,161,mitsubishi,gas,std\n', '1,161,mitsubishi,gas,turbo\n', '3,153,mitsubishi,gas,turbo\n', '3,153,mitsubishi,gas,std\n', '3,?,mitsubishi,gas,turbo\n', '3,?,mitsubishi,gas,turbo\n', '3,?,mitsubishi,gas,turbo\n', '1,125,mitsubishi,gas,std\n', '1,125,mitsubishi,gas,std\n', '1,125,mitsubishi,gas,turbo\n', '-1,137,mitsubishi,gas,std\n', '1,128,nissan,gas,std\n', '1,128,nissan,diesel,std\n', '1,128,nissan,gas,std\n', '1,122,nissan,gas,std\n', '1,103,nissan,gas,std\n', '1,128,nissan,gas,std\n', '1,128,nissan,gas,std\n', '1,122,nissan,gas,std\n', '1,103,nissan,gas,std\n', '2,168,nissan,gas,std\n', '0,106,nissan,gas,std\n', '0,106,nissan,gas,std\n', '0,128,nissan,gas,std\n', '0,108,nissan,gas,std\n', '0,108,nissan,gas,std\n', '3,194,nissan,gas,std\n', '3,194,nissan,gas,turbo\n', '1,231,nissan,gas,std\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,?,peugot,gas,std\n', '0,?,peugot,diesel,turbo\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,?,peugot,gas,std\n', '0,?,peugot,diesel,turbo\n', '0,161,peugot,gas,std\n', '0,161,peugot,diesel,turbo\n', '0,161,peugot,gas,turbo\n', '1,119,plymouth,gas,std\n', '1,119,plymouth,gas,turbo\n', '1,154,plymouth,gas,std\n', '1,154,plymouth,gas,std\n', '1,154,plymouth,gas,std\n', '-1,74,plymouth,gas,std\n', '3,?,plymouth,gas,turbo\n', '3,186,porsche,gas,std\n', '3,?,porsche,gas,std\n', '3,?,porsche,gas,std\n', '3,?,porsche,gas,std\n', '0,0,0,0,0\n', '0,?,renault,gas,std\n', '2,?,renault,gas,std\n', '3,150,saab,gas,std\n', '2,104,saab,gas,std\n', '3,150,saab,gas,std\n', '2,104,saab,gas,std\n', '3,150,saab,gas,turbo\n', '2,104,saab,gas,turbo\n', '2,83,subaru,gas,std\n', '2,83,subaru,gas,std\n', '2,83,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,std\n', '0,102,subaru,gas,turbo\n', '0,89,subaru,gas,std\n', '0,89,subaru,gas,std\n', '0,85,subaru,gas,std\n', '0,85,subaru,gas,turbo\n', '1,87,toyota,gas,std\n', '1,87,toyota,gas,std\n', '1,74,toyota,gas,std\n', '0,77,toyota,gas,std\n', '0,81,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,diesel,std\n', '0,91,toyota,diesel,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '0,91,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '1,168,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '2,134,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,diesel,turbo\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '-1,65,toyota,gas,std\n', '3,197,toyota,gas,std\n', '3,197,toyota,gas,std\n', '-1,90,toyota,gas,std\n', '-1,?,toyota,gas,std\n', '2,122,volkswagen,diesel,std\n', '2,122,volkswagen,gas,std\n', '2,94,volkswagen,diesel,std\n', '2,94,volkswagen,gas,std\n', '2,94,volkswagen,gas,std\n', '2,94,volkswagen,diesel,turbo\n', '2,94,volkswagen,gas,std\n', '3,?,volkswagen,gas,std\n', '3,256,volkswagen,gas,std\n', '0,?,volkswagen,gas,std\n', '0,?,volkswagen,diesel,turbo\n', '0,?,volkswagen,gas,std\n', '-2,103,volvo,gas,std\n', '-1,74,volvo,gas,std\n', '-2,103,volvo,gas,std\n', '-1,74,volvo,gas,std\n', '-2,103,volvo,gas,turbo\n', '-1,74,volvo,gas,turbo\n', '-1,95,volvo,gas,std\n', '-1,95,volvo,gas,turbo\n', '-1,95,volvo,gas,std\n', '-1,95,volvo,diesel,turbo\n', '-1,95,volvo,gas,turbo\n']

##**Separando Palavras por Linhas**

In [149]:
# Método split: Retorna uma lista de strings depois de quebrar a string 
# fornecida pelo separador especificado.

# Separamos os elementos de cada linha

for linha in linhas:
  print(linha.split(','))

['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration\n']
['3', '?', 'alfa-romero', 'gas', 'std\n']
['3', '?', 'alfa-romero', 'gas', 'std\n']
['1', '?', 'alfa-romero', 'gas', 'std\n']
['2', '164', 'audi', 'gas', 'std\n']
['2', '164', 'audi', 'gas', 'std\n']
['2', '?', 'audi', 'gas', 'std\n']
['1', '158', 'audi', 'gas', 'std\n']
['1', '?', 'audi', 'gas', 'std\n']
['1', '158', 'audi', 'gas', 'turbo\n']
['0', '0', '0', '0', '0\n']
['2', '192', 'bmw', 'gas', 'std\n']
['0', '192', 'bmw', 'gas', 'std\n']
['0', '188', 'bmw', 'gas', 'std\n']
['0', '188', 'bmw', 'gas', 'std\n']
['1', '?', 'bmw', 'gas', 'std\n']
['0', '?', 'bmw', 'gas', 'std\n']
['0', '?', 'bmw', 'gas', 'std\n']
['0', '?', 'bmw', 'gas', 'std\n']
['2', '121', 'chevrolet', 'gas', 'std\n']
['1', '98', 'chevrolet', 'gas', 'std\n']
['0', '81', 'chevrolet', 'gas', 'std\n']
['1', '118', 'dodge', 'gas', 'std\n']
['1', '118', 'dodge', 'gas', 'std\n']
['1', '118', 'dodge', 'gas', 'turbo\n']
['1', '148', 'dodge', 'gas', 'std\n']
['1', '148', 'dodge', 'gas', 'std\n']
['1', '148', 'dodge', 'gas', 'std\n']
['1', '148', 'dodge', 'gas', 'turbo\n']
['-1', '110', 'dodge', 'gas', 'std\n']
['3', '145', 'dodge', 'gas', 'turbo\n']
['2', '137', 'honda', 'gas', 'std\n']
['2', '137', 'honda', 'gas', 'std\n']
['1', '101', 'honda', 'gas', 'std\n']
['1', '101', 'honda', 'gas', 'std\n']
['1', '101', 'honda', 'gas', 'std\n']
['0', '110', 'honda', 'gas', 'std\n']
['0', '78', 'honda', 'gas', 'std\n']
['0', '106', 'honda', 'gas', 'std\n']
['0', '106', 'honda', 'gas', 'std\n']
['0', '85', 'honda', 'gas', 'std\n']
['0', '85', 'honda', 'gas', 'std\n']
['0', '85', 'honda', 'gas', 'std\n']
['1', '107', 'honda', 'gas', 'std\n']
['0', '?', 'isuzu', 'gas', 'std\n']
['0', '0', '0', '0', '0\n']
['0', '0', '0', '0', '0\n']
['2', '?', 'isuzu', 'gas', 'std\n']
['0', '145', 'jaguar', 'gas', 'std\n']
['0', '?', 'jaguar', 'gas', 'std\n']
['0', '?', 'jaguar', 'gas', 'std\n']
['1', '104', 'mazda', 'gas', 'std\n']
['1', '104', 'mazda', 'gas', 'std\n']
['1', '104', 'mazda', 'gas', 'std\n']
['1', '113', 'mazda', 'gas', 'std\n']
['1', '113', 'mazda', 'gas', 'std\n']
['3', '150', 'mazda', 'gas', 'std\n']
['3', '150', 'mazda', 'gas', 'std\n']
['3', '150', 'mazda', 'gas', 'std\n']
['3', '150', 'mazda', 'gas', 'std\n']
['1', '129', 'mazda', 'gas', 'std\n']
['0', '115', 'mazda', 'gas', 'std\n']
['1', '129', 'mazda', 'gas', 'std\n']
['0', '115', 'mazda', 'gas', 'std\n']
['0', '?', 'mazda', 'diesel', 'std\n']
['0', '115', 'mazda', 'gas', 'std\n']
['0', '118', 'mazda', 'gas', 'std\n']
['0', '?', 'mazda', 'diesel', 'std\n']
['-1', '93', 'mercedes-benz', 'diesel', 'turbo\n']
['-1', '93', 'mercedes-benz', 'diesel', 'turbo\n']
['0', '93', 'mercedes-benz', 'diesel', 'turbo\n']
['-1', '93', 'mercedes-benz', 'diesel', 'turbo\n']
['-1', '?', 'mercedes-benz', 'gas', 'std\n']
['3', '142', 'mercedes-benz', 'gas', 'std\n']
['0', '?', 'mercedes-benz', 'gas', 'std\n']
['1', '?', 'mercedes-benz', 'gas', 'std\n']
['1', '?', 'mercury', 'gas', 'turbo\n']
['2', '161', 'mitsubishi', 'gas', 'std\n']
['2', '161', 'mitsubishi', 'gas', 'std\n']
['2', '161', 'mitsubishi', 'gas', 'std\n']
['1', '161', 'mitsubishi', 'gas', 'turbo\n']
['3', '153', 'mitsubishi', 'gas', 'turbo\n']
['3', '153', 'mitsubishi', 'gas', 'std\n']
['3', '?', 'mitsubishi', 'gas', 'turbo\n']
['3', '?', 'mitsubishi', 'gas', 'turbo\n']
['3', '?', 'mitsubishi', 'gas', 'turbo\n']
['1', '125', 'mitsubishi', 'gas', 'std\n']
['1', '125', 'mitsubishi', 'gas', 'std\n']
['1', '125', 'mitsubishi', 'gas', 'turbo\n']
['-1', '137', 'mitsubishi', 'gas', 'std\n']
['1', '128', 'nissan', 'gas', 'std\n']
['1', '128', 'nissan', 'diesel', 'std\n']
['1', '128', 'nissan', 'gas', 'std\n']
['1', '122', 'nissan', 'gas', 'std\n']
['1', '103', 'nissan', 'gas', 'std\n']
['1', '128', 'nissan', 'gas', 'std\n']
['1', '128', 'nissan', 'gas', 'std\n']
['1', '122', 'nissan', 'gas', 'std\n']
['1', '103', 'nissan', 'gas', 'std\n']
['2', '168', 'nissan', 'gas', 'std\n']
['0', '106', 'nissan', 'gas', 'std\n']
['0', '106', 'nissan', 'gas', 'std\n']
['0', '128', 'nissan', 'gas', 'std\n']
['0', '108', 'nissan', 'gas', 'std\n']
['0', '108', 'nissan', 'gas', 'std\n']
['3', '194', 'nissan', 'gas', 'std\n']
['3', '194', 'nissan', 'gas', 'turbo\n']
['1', '231', 'nissan', 'gas', 'std\n']
['0', '161', 'peugot', 'gas', 'std\n']
['0', '161', 'peugot', 'diesel', 'turbo\n']
['0', '?', 'peugot', 'gas', 'std\n']
['0', '?', 'peugot', 'diesel', 'turbo\n']
['0', '161', 'peugot', 'gas', 'std\n']
['0', '161', 'peugot', 'diesel', 'turbo\n']
['0', '?', 'peugot', 'gas', 'std\n']
['0', '?', 'peugot', 'diesel', 'turbo\n']
['0', '161', 'peugot', 'gas', 'std\n']
['0', '161', 'peugot', 'diesel', 'turbo\n']
['0', '161', 'peugot', 'gas', 'turbo\n']
['1', '119', 'plymouth', 'gas', 'std\n']
['1', '119', 'plymouth', 'gas', 'turbo\n']
['1', '154', 'plymouth', 'gas', 'std\n']
['1', '154', 'plymouth', 'gas', 'std\n']
['1', '154', 'plymouth', 'gas', 'std\n']
['-1', '74', 'plymouth', 'gas', 'std\n']
['3', '?', 'plymouth', 'gas', 'turbo\n']
['3', '186', 'porsche', 'gas', 'std\n']
['3', '?', 'porsche', 'gas', 'std\n']
['3', '?', 'porsche', 'gas', 'std\n']
['3', '?', 'porsche', 'gas', 'std\n']
['0', '0', '0', '0', '0\n']
['0', '?', 'renault', 'gas', 'std\n']
['2', '?', 'renault', 'gas', 'std\n']
['3', '150', 'saab', 'gas', 'std\n']
['2', '104', 'saab', 'gas', 'std\n']
['3', '150', 'saab', 'gas', 'std\n']
['2', '104', 'saab', 'gas', 'std\n']
['3', '150', 'saab', 'gas', 'turbo\n']
['2', '104', 'saab', 'gas', 'turbo\n']
['2', '83', 'subaru', 'gas', 'std\n']
['2', '83', 'subaru', 'gas', 'std\n']
['2', '83', 'subaru', 'gas', 'std\n']
['0', '102', 'subaru', 'gas', 'std\n']
['0', '102', 'subaru', 'gas', 'std\n']
['0', '102', 'subaru', 'gas', 'std\n']
['0', '102', 'subaru', 'gas', 'std\n']
['0', '102', 'subaru', 'gas', 'turbo\n']
['0', '89', 'subaru', 'gas', 'std\n']
['0', '89', 'subaru', 'gas', 'std\n']
['0', '85', 'subaru', 'gas', 'std\n']
['0', '85', 'subaru', 'gas', 'turbo\n']
['1', '87', 'toyota', 'gas', 'std\n']
['1', '87', 'toyota', 'gas', 'std\n']
['1', '74', 'toyota', 'gas', 'std\n']
['0', '77', 'toyota', 'gas', 'std\n']
['0', '81', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'diesel', 'std\n']
['0', '91', 'toyota', 'diesel', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['0', '91', 'toyota', 'gas', 'std\n']
['1', '168', 'toyota', 'gas', 'std\n']
['1', '168', 'toyota', 'gas', 'std\n']
['1', '168', 'toyota', 'gas', 'std\n']
['1', '168', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['2', '134', 'toyota', 'gas', 'std\n']
['-1', '65', 'toyota', 'gas', 'std\n']
['-1', '65', 'toyota', 'diesel', 'turbo\n']
['-1', '65', 'toyota', 'gas', 'std\n']
['-1', '65', 'toyota', 'gas', 'std\n']
['-1', '65', 'toyota', 'gas', 'std\n']
['3', '197', 'toyota', 'gas', 'std\n']
['3', '197', 'toyota', 'gas', 'std\n']
['-1', '90', 'toyota', 'gas', 'std\n']
['-1', '?', 'toyota', 'gas', 'std\n']
['2', '122', 'volkswagen', 'diesel', 'std\n']
['2', '122', 'volkswagen', 'gas', 'std\n']
['2', '94', 'volkswagen', 'diesel', 'std\n']
['2', '94', 'volkswagen', 'gas', 'std\n']
['2', '94', 'volkswagen', 'gas', 'std\n']
['2', '94', 'volkswagen', 'diesel', 'turbo\n']
['2', '94', 'volkswagen', 'gas', 'std\n']
['3', '?', 'volkswagen', 'gas', 'std\n']
['3', '256', 'volkswagen', 'gas', 'std\n']
['0', '?', 'volkswagen', 'gas', 'std\n']
['0', '?', 'volkswagen', 'diesel', 'turbo\n']
['0', '?', 'volkswagen', 'gas', 'std\n']
['-2', '103', 'volvo', 'gas', 'std\n']
['-1', '74', 'volvo', 'gas', 'std\n']
['-2', '103', 'volvo', 'gas', 'std\n']
['-1', '74', 'volvo', 'gas', 'std\n']
['-2', '103', 'volvo', 'gas', 'turbo\n']
['-1', '74', 'volvo', 'gas', 'turbo\n']
['-1', '95', 'volvo', 'gas', 'std\n']
['-1', '95', 'volvo', 'gas', 'turbo\n']
['-1', '95', 'volvo', 'gas', 'std\n']
['-1', '95', 'volvo', 'diesel', 'turbo\n']
['-1', '95', 'volvo', 'gas', 'turbo\n']